<h1 mat-dialog-title>Update Flavour</h1>
<div mat-dialog-content>
    <form clrForm #f="ngForm">
        <clr-input-container>
            <label for="name">Name</label>
            <input clrInput id="name" name="name" type="text" class="form-control" [(ngModel)]="name"
                   #flavourName="ngModel"
                   required>
            <div *ngIf="flavourName.invalid && (flavourName.dirty || flavourName.touched)"
                 class="alert alert-danger">
                <div *ngIf="flavourName.errors.required">
                    Name is required.
                </div>
            </div>
        </clr-input-container>
        <clr-select-container>
            <label for="cloudFlavours">Cloud Flavour</label>
            <select clrSelect name="cloudFlavours" class="selector" id="cloudFlavours" [(ngModel)]="selectedCloudFlavourId"
                    required>
                <option *ngFor="let cloudFlavour of cloudFlavours"
                        [value]="cloudFlavour.id">
                    {{cloudFlavour.name}}
                </option>
            </select>
        </clr-select-container>
        <clr-input-container>
            <label for="memory">Memory</label>
            <input clrInput readonly id="memory" class="form-control" [value]="memory + ' GB'">
        </clr-input-container>
        <clr-input-container>
            <label for="cpu">CPUs</label>
            <input clrInput readonly id="cpu" class="form-control" [value]="cpu">
        </clr-input-container>

        <clr-combobox-container>
            <label>Selected instruments</label>
            <clr-combobox [(ngModel)]="selectedInstruments" name="multiSelect" clrMulti="true">
                <ng-container *clrOptionSelected="let selected">
                    {{selected?.name}}
                </ng-container>
                <clr-options>
                    <clr-option *clrOptionItems="let instrument of instruments; " [clrValue]="instrument">
                        {{instrument.name}}
                    </clr-option>
                </clr-options>
            </clr-combobox>
        </clr-combobox-container>
    </form>
</div>
<div mat-dialog-actions style="display: flex;flex-direction: row; justify-content: flex-end;">
    <button mat-button (click)="onCancel()">Cancel</button>
    <button mat-button (click)="onUpdate()" [disabled]="f.invalid">Update
    </button>
</div>
