<div class="admin-header booking-admin-header">
    <div class="admin-header-container">
        <div class="admin-tabs">
            <div class="admin-tabs-body">
                <a class="admin-tab" routerLink="/admin/booking/settings" routerLinkActive="admin-tab--selected">
                    <clr-icon shape="wrench" class="is-solid"></clr-icon>
                    Settings
                </a>
                <a class="admin-tab" routerLink="/admin/booking/availabilities" routerLinkActive="admin-tab--selected">
                    <clr-icon shape="calendar" class="is-solid"></clr-icon>
                    Availabilities
                </a>
            </div>
        </div>
    </div>
</div>
