<h1 mat-dialog-title>Delete image </h1>
<div mat-dialog-content>
    <div class="alert alert-danger" role="alert">
        <div class="alert-items">
            <div class="alert-item static">
                <div class="alert-icon-wrapper">
                    <clr-icon class="alert-icon" shape="info-alert"></clr-icon>
                </div>
                <span class="alert-text">
                    Are you sure you want to delete this image?
                </span>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button (click)="onCancel()" class="btn btn-outline">Cancel</button>
        <button (click)="onDelete()" class="btn btn-warning-outline">Delete</button>
    </div>
</div>

