<visa-admin-header></visa-admin-header>
<visa-settings-admin-header></visa-settings-admin-header>

<div *ngIf="createdApplicationCredential != null" class="created-application-credential">
    <div class="alert alert-success" role="alert">
        <div class="alert-items">
            <div class="alert-item static">
                <div class="alert-icon-wrapper">
                    <clr-icon class="alert-icon" shape="check-circle"></clr-icon>
                </div>
                <span class="alert-text">
                    Your new application credentials have been created:
                </span>
            </div>
        </div>
    </div>

    <div class="created-application-credential-details">
        <div class="clr-row">
            <div class="clr-col-2">
                <div class="created-application-credential-details-label">
                    <p>Application Name</p>
                </div>
            </div>
            <div class="clr-col-9">
                <div class="created-application-credential-details-value">
                    <p>{{createdApplicationCredential.name}}</p>
                </div>
            </div>
        </div>
        <div class="clr-row">
            <div class="clr-col-2">
                <div class="created-application-credential-details-label">
                    <p>Application Id</p>
                </div>
            </div>
            <div class="clr-col-9">
                <div class="created-application-credential-details-value">
                    <p>{{createdApplicationCredential.applicationId}}</p>
                </div>
            </div>
            <div class="clr-col-1">
                <clr-icon shape="copy-to-clipboard" size="24" class="created-application-credential-details-copy" (click)="copyToClipboard(createdApplicationCredential.applicationId)"></clr-icon>
            </div>
        </div>
        <div class="clr-row">
            <div class="clr-col-2">
                <div class="created-application-credential-details-label">
                    <p>Application Secret</p>
                </div>
            </div>
            <div class="clr-col-9">
                <div class="created-application-credential-details-value">
                    <p>{{createdApplicationCredential.applicationSecret}}</p>
                </div>
                <div class="created-application-credential-details-notice">
                    <p>Please note the application secret because we don't store it and it won't be shown again!</p>
                </div>
            </div>
            <div class="clr-col-1">
                <clr-icon shape="copy-to-clipboard" size="24" class="created-application-credential-details-copy" (click)="copyToClipboard(createdApplicationCredential.applicationSecret)"></clr-icon>
            </div>
        </div>
    </div>
</div>

<div class="admin-container">
    <div class="admin-container--main">
        <clr-datagrid id="datagrid" [clrDgLoading]="loading">
            <clr-dg-column>ID</clr-dg-column>
            <clr-dg-column>Application Name</clr-dg-column>
            <clr-dg-column>Application ID</clr-dg-column>
            <clr-dg-column>Last Used</clr-dg-column>
            <clr-dg-column>Actions</clr-dg-column>

            <clr-dg-row *ngFor="let applicationCredential of applicationCredentials">
                <clr-dg-cell>{{applicationCredential.id}}</clr-dg-cell>
                <clr-dg-cell>{{applicationCredential.name}}</clr-dg-cell>
                <clr-dg-cell>{{applicationCredential.applicationId}}</clr-dg-cell>
                <clr-dg-cell>
                    <clr-tooltip *ngIf="applicationCredential.lastUsedAt != null">
                        <span clrTooltipTrigger>{{ applicationCredential.lastUsedAt | timeDuration:'date' }}</span>
                        <clr-tooltip-content clrPosition="top-right" clrSize="md" *clrIfOpen>
                            <span>{{ applicationCredential.lastUsedAt | date:'MMM d, y, h:mm:ss a' }}</span>
                        </clr-tooltip-content>
                    </clr-tooltip>
                </clr-dg-cell>
                <clr-dg-cell>
                    <button (click)="onUpdate(applicationCredential)" class="btn btn-sm">Edit</button>
                    <button (click)="onDelete(applicationCredential)" class="btn btn-warning-outline btn-sm">Delete</button>
                </clr-dg-cell>
            </clr-dg-row>
            <clr-dg-footer>
                <button class="btn btn-sm" type="button" (click)="onCreate()">New</button>
                <button class="btn btn-sm" type="button" (click)="onRefresh()"><clr-icon shape="refresh"></clr-icon></button>
            </clr-dg-footer>
        </clr-datagrid>
    </div>
</div>
