.created-application-credential {
    margin: 16px 8px;
    border: 1px solid #ccc;
    padding: 6px;
}

.created-application-credential-details {
    label {
        color: black;
    }

    input {
        color: black;
        width: 500px;
    }

    .created-application-credential-details-notice {
        p {
            font-size: 0.6rem;
            color: red;
            margin-top: 0;
            margin-left: 6px;
        }
    }

    .created-application-credential-details-label {
        border: 1px solid #fff;
        margin: 2px;

        p {
            font-weight: bold;
        }
    }

    .created-application-credential-details-value {
        border-bottom: 1px solid #ccc;
        margin: 2px;
        cursor: text;

        p {
            margin-left: 6px;
            font-size: 15px;
        }
    }

    .created-application-credential-details-copy {
        margin-top:20px;
        color: #888;
        cursor: pointer;
    }
}


