<div class="admin-header settings-admin-header">
    <div class="admin-header-container">
        <div class="admin-tabs">
            <div class="admin-tabs-body">
                <a href="" class="admin-tab" routerLink="/admin/settings/notifications" routerLinkActive="admin-tab--selected">
                    <clr-icon shape="bell" class="is-solid"></clr-icon>
                    Notifications
                </a>
                <a href="" class="admin-tab" routerLink="/admin/settings/applications" routerLinkActive="admin-tab--selected">
                    <clr-icon shape="application" class="is-solid"></clr-icon>
                    Application Credentials
                </a>
            </div>
        </div>
    </div>
</div>
