.form-control-container {
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.form-control-input {
    flex-grow: 1;
}

.form-control-right {
    width: 150px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
