<clr-modal clrModalSize="lg"
           [(clrModalOpen)]="showEditModal"
           [clrModalStaticBackdrop]="false">
    <h3 class="modal-title">Import a cloud security group</h3>

    <div class="modal-body">
        <ng-container>
            <form clrForm [formGroup]="form" clrLayout="horizontal">

                <clr-input-container *ngIf="multiCloudEnabled">
                    <label for="cloudClient">Cloud Provider</label>
                    <input clrInput readonly id="cloudClient" class="form-control" [value]="cloudClient.name + ' cloud provider'" style="width: 400px;">
                </clr-input-container>

                <clr-select-container>
                    <label for="securityGroup">Security Group</label>
                    <select clrSelect id="securityGroup"
                            formControlName="securityGroup" required>
                        <option *ngFor="let securityGroup of filteredSecurityGroups"
                                [ngValue]="securityGroup">{{securityGroup?.name}}</option>
                    </select>
                    <clr-control-helper>Please select a cloud security group to import</clr-control-helper>
                </clr-select-container>
            </form>
        </ng-container>
    </div>
    <div class="modal-footer">
        <button (click)="onCancel()" class="btn btn-outline">Cancel</button>
        <button (click)="submit()" [disabled]="form.invalid" class="btn btn-primary">Save</button>
    </div>

</clr-modal>
