.home-guest-access {
    margin-top: 24px !important;
    margin-bottom: 24px;
    font-size: 15px;

    padding-top: 8px;
    padding-bottom: 8px;
}

.home-spinner-outer {
    position: relative;
    width: 100%;
}

.home-spinner {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
}
