<clr-modal clrModalSize="lg"
           [(clrModalOpen)]="showModal"
           [clrModalClosable]="false"
           [clrModalStaticBackdrop]="true">

    <h1 class="modal-title">Request for access</h1>

    <div class="modal-body" style="margin-top: 16px; color: #666; ">
        {{userFullName}} is requesting access to your instance.
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-success-outline" (click)="onFullAccess()">Grant full access</button>
        <button type="button" class="btn btn-success-outline" (click)="onReadOnlyAccess()">Grant read-only access</button>
        <button type="button" class="btn btn-danger-outline" (click)="onReject()">Reject access</button>
    </div>

</clr-modal>
