<visa-admin-header></visa-admin-header>
<visa-settings-admin-header></visa-settings-admin-header>

<clr-modal clrModalSize="md"
           [clrModalOpen]="showDeleteModal"
           [clrModalStaticBackdrop]="false"
           [clrModalPreventClose]="true"
           (clrModalAlternateClose)="onDeleteModalClosed()">
    <h3 class="modal-title">Delete notification</h3>

    <div class="modal-body">
        <div class="alert alert-danger" role="alert" style="margin-top:16px;">
            <div class="alert-items">
                <div class="alert-item static">
                    <div class="alert-icon-wrapper">
                        <clr-icon class="alert-icon" shape="info-alert"></clr-icon>
                    </div>
                    <span class="alert-text">
                    Are you sure you want to delete the notification?
                </span>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button (click)="onDeleteModalClosed()" class="btn btn-outline">Cancel</button>
        <button (click)="onConfirmDelete()" class="btn btn-warning-outline">Delete</button>
    </div>
</clr-modal>

<clr-modal clrModalSize="md"
           [clrModalOpen]="showUpdateModal"
           [clrModalStaticBackdrop]="false"
           [clrModalPreventClose]="true"
           (clrModalAlternateClose)="onUpdateModalClosed()">
    <h3 class="modal-title">Delete notification</h3>

    <div class="modal-body">
        <div class="alert alert-danger" role="alert" style="margin-top:16px;">
            <div class="alert-items">
                <div class="alert-item static">
                    <div class="alert-icon-wrapper">
                        <clr-icon class="alert-icon" shape="info-alert"></clr-icon>
                    </div>
                    <span class="alert-text">
                        <div *ngIf="canUpdate">
                            Are you sure you want to update the notification?
                        </div>
                        <div *ngIf="!canUpdate">
                            Cannot update the notification as errors exist
                        </div>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button (click)="onUpdateModalClosed()" class="btn btn-outline">Cancel</button>
        <div *ngIf="canUpdate">
            <button (click)="onConfirmTextChange()" class="btn btn-warning-outline">Update</button>
        </div>
    </div>
</clr-modal>

<div class="admin-container">
    <div class="admin-container--main">
        <table class="table">
            <thead>
                <tr>
                    <th>Message</th>
                    <th>Type</th>
                    <th>Level</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let notification of notifications">
                    <td class="left">
                        <input *ngIf="notification.type != 'MODAL'" name="message" type="text" [(ngModel)]="notification.message" class="clr-input message" (change)="onTextChange(notification)" size="150" (focus)="setActiveNotification(notification)"/>
                        <clr-textarea-container *ngIf="notification.type == 'MODAL'" class="message-textarea-container">
                            <textarea clrTextarea name="message" type="text" class="message-textarea" [(ngModel)]="notification.message" (change)="onTextChange(notification)" cols="150" [rows]="getMessageRows(notification)" (focus)="setActiveNotification(notification)"></textarea>
                            <clr-control-helper>Text can be entered in markdown</clr-control-helper>
                        </clr-textarea-container>
                        <div class="message-error" *ngIf="notification.message.length > 4096">
                            Maximum length of message is 4096 characters
                        </div>
                    </td>
                    <td>
                        <div class="clr-select-wrapper type">
                            <select [(ngModel)]="notification.type" required (change)="onDataChange(notification)">
                                <option value="BANNER">Banner</option>
                                <option value="MODAL">Modal</option>
                            </select>
                        </div>
                    </td>
                    <td>
                        <div class="clr-select-wrapper level">
                            <select [(ngModel)]="notification.level" required (change)="onDataChange(notification)">
                                <option value="INFO">INFO</option>
                                <option value="WARN">WARN</option>
                                <option value="ERROR">ERROR</option>
                            </select>
                        </div>
                    </td>
                    <td>
                        <clr-toggle-wrapper class="toggleActivated">
                            <input type="checkbox" clrToggle [(ngModel)]="notification.activated" (change)="toggleActivated(notification)"/>
                        </clr-toggle-wrapper>
                    </td>
                    <td>
                        <button (click)="onDelete(notification)" type="button"
                                class="btn btn-icon btn-danger-outline"
                                aria-label="home">
                            <clr-icon shape="trash"></clr-icon>
                        </button>
                    </td>
                </tr>
        </table>
        <button (click)=addRow() type="button" class="btn  btn-outline addButton" aria-label="home">Add</button>
    </div>
</div>
