<visa-admin-header></visa-admin-header>
<div class="admin-container">
    <div class="admin-container--main">
        <table class="table">
            <thead>
                <tr>
                    <th>Message</th>
                    <th>Level</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let notification of notifications">
                    <td class="left">
                        <input name="message" type="text" [(ngModel)]="notification.message" class="clr-input message" (change)="onTextChange(notification)" size="150" />
                    </td>
                    <td>
                        <div class="clr-select-wrapper level">
                            <select [(ngModel)]="notification.level" required (change)="onDataChange(notification)">
                                <option value="INFO">INFO</option>
                                <option value="WARN">WARN</option>
                                <option value="ERROR">ERROR</option>
                            </select>
                        </div>
                    </td>
                    <td>
                        <clr-toggle-wrapper class="toggleActivated">
                            <input type="checkbox" clrToggle [(ngModel)]="notification.activated" (change)="toggleActivated(notification)"/>
                        </clr-toggle-wrapper>
                    </td>
                    <td>
                        <button (click)="onDelete(notification)" type="button"
                                class="btn btn-icon btn-danger-outline"
                                aria-label="home">
                            <clr-icon shape="trash"></clr-icon>
                        </button>
                    </td>
                </tr>
        </table>
        <button (click)=addRow() type="button" class="btn  btn-outline addButton" aria-label="home">Add</button>
    </div>
</div>
