<div *ngIf="form" class="page-header">
    <div class="page-header-content">
        <div class="title">
            <h1 *ngIf="originalName == null">Create a new instance reservation</h1>
            <h1 *ngIf="originalName != null">Modify instance reservation <em>{{originalName}}</em></h1>
        </div>
    </div>
</div>


<clr-modal [(clrModalOpen)]="showSubmitModal" [clrModalClosable]="false">
    <h3 class="modal-title">Processing reservation request</h3>
    <div class="modal-body">
        <div class="booking-new-spinner-outer" [hidden]="!sendingRequest">
            <div>
                <clr-spinner clrInline></clr-spinner>
                <span style="margin-left: 24px; color: #666;">Your reservation request is being sent...</span>
            </div>
        </div>

        <div *ngIf="requestErrors" class="booking-new-modal-fail">
            The request was not successful:
            <div *ngFor="let error of requestErrors" class="booking-new-modal-fail-error">
                {{error}}
            </div>

        </div>
    </div>
    <div class="modal-footer" *ngIf="!sendingRequest">
        <button type="button" (click)="closeSubmitModal()" class="btn btn-outline">Continue</button>
    </div>
</clr-modal>

<div *ngIf="form" class="booking-new-container">
    <form clrForm [formGroup]="form" clrLayout="horizontal">
        <div class="content-container">
            <div class="content-area">
                <div class="content-small-container">

                    <div class="clr-row">
                        <div class="clr-col-12">
                            <div class="information-panel">
                                <div class="information-panel-body">
                                    Please fill in the details below to create a new instance reservation request.
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="sections">

                        <div class="section">
                            <div class="clr-row">
                                <div class="clr-col-12">
                                    <div class="title">
                                        <h2>
                                            Reservation period
                                        </h2>
                                    </div>
                                </div>
                                <div class="clr-col-12">
                                    <div class="content">
                                        <p>
                                            Please select the days you'd like to reserve the resources for.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="content">
                                <div class="clr-row">
                                    <div class="clr-col-5">
                                        <clr-date-container class="booking-date-select">
                                            <label for="startDate" class="clr-col-md-5">Reservation period from</label>
                                            <input id="startDate" [(clrDate)]="startDate" type="date" formControlName="startDate" [min]="minStartDate" [max]="maxStartDate" class="clr-col-md-7">
                                        </clr-date-container>
                                    </div>
                                    <div class="clr-col-7">
                                        <clr-date-container class="booking-date-select">
                                            <label for="endDate" class="clr-col-md-1">to</label>
                                            <input id="endDate" [(clrDate)]="endDate" type="date" formControlName="endDate" [min]="minEndDate">
                                        </clr-date-container>
                                    </div>
                                    <div class="clr-col-12" *ngIf="datesValid" style="margin-top: 24px;">
                                        <p>
                                            Selected reservation period is for {{reservationDurationDays}} days.
                                        </p>
                                    </div>
                                    <div class="clr-col-12" *ngIf="!datesValid" style="margin-top: 24px;">
                                        <p>
                                            You can select the resources after specifying valid reservation dates.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="section">
                            <div class="clr-row">
                                <div class="clr-col-12">
                                    <div class="title">
                                        <h2>
                                            Hardware requirements
                                        </h2>
                                    </div>
                                </div>
                                <div class="clr-col-12">
                                    <div class="content">
                                        <p *ngIf="datesValid">
                                            Please select the resources you'd like to reserve. Flavours that you are allowed to reserve are shown below. Click on them to add them to your request.
                                        </p>
                                        <p *ngIf="!datesValid">
                                            After selecting your reservation period you can define the resources you'd like to reserve.
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="flavours">
                                <div *ngFor="let flavourLimit of flavourLimits" (click)="toggleSelectFlavour(flavourLimit)" class="flavour-box" [ngClass]="{'flavour-box--selected': datesValid && isFlavourSelected(flavourLimit.flavour), 'flavour-box--disabled': !(datesValid && flavourLimit.available)}">
                                    <button class="flavour-button">
                                        <div class="flavour-button__detail">
                                            {{getCpuView(flavourLimit.flavour)}}
                                        </div>
                                        <div class="flavour-button__detail">
                                            {{getRamView(flavourLimit.flavour)}} memory
                                        </div>
                                        <div *ngFor="let device of flavourLimit.flavour.devices" class="flavour-button__detail">
                                            <div class="flavour-button__device-name">
                                                {{device.devicePool.name}}
                                            </div>
                                            <div *ngIf="device.devicePool.description" class="flavour-button__device-description">
                                                {{device.devicePool.description}}
                                            </div>
                                        </div>
                                    </button>
                                    <div class="flavour-details">
                                        <div>
                                            {{flavourLimit.flavour.name}}
                                        </div>
                                    </div>
                                    <div class="flavour-availability">
                                        <div *ngIf="datesValid">
                                            {{flavourLimit.maxInstances}} instance{{flavourLimit.maxInstances > 1 ? 's' : ''}} available <br>(estimated)
                                        </div>
                                    </div>
                                    <div class="flavour-unavailable" *ngIf="datesValid">
                                        <div *ngIf="!flavourLimit.available" class="unavailable-text">
                                            <div class="unavailable-text-sub">
                                                {{flavourLimit.message}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="section" *ngIf="datesValid && flavourRequestsFormArray.length > 0">
                            <div class="clr-row">
                                <div class="clr-col-12">
                                    <div class="title">
                                        <h2 style="margin-top: 0;">
                                            Number of instances
                                        </h2>
                                    </div>
                                </div>
                                <div class="clr-col-12">
                                    <div class="content">
                                        <p>
                                            Please enter the required number of instances for each of the chosen flavours.
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div formArrayName="flavourRequests">
                                <ng-container *ngFor="let flavourRequest of flavourRequestsFormArray.controls; let i = index">
                                    <div [formGroupName]="i">
                                        <div class="clr-row booking-new-flavour">
                                            <clr-input-container>
                                                <label for="quantity" class="clr-col-md-6">{{flavourRequest.get('flavour').value.name}}</label>
                                                <input style="width: 150px;" id="quantity" clrInput formControlName="quantity" type="number" min="1" [max]="getMaxInstancesForFlavour(flavourRequest.get('flavour').value)" class="clr-col-md-6"/>
                                                <clr-control-helper>
                                                    Quantity ({{getMaxInstancesForFlavour(flavourRequest.get('flavour').value)}} max)
                                                </clr-control-helper>
                                                <clr-control-error *ngIf="flavourRequest.get('quantity')?.errors?.limitExceeded">
                                                    Exceeds maximum allowed
                                                </clr-control-error>
                                            </clr-input-container>
                                        </div>
                                    </div>
                                </ng-container>
                            </div>

                        </div>


                        <div class="section" *ngIf="datesValid && flavourRequestsFormArray.length > 0 && flavourQuantitiesValid">
                            <div class="clr-row">

                                <div class="clr-col-7">
                                    <div class="title">
                                        <h2>
                                            Reason for reservation
                                        </h2>
                                    </div>

                                    <clr-input-container>
                                        <label for="label" class="clr-col-md-7">Enter a label to easily identify your reservation request.</label>
                                        <input clrInput id="label" formControlName="name" class="clr-col-md-5 booking-new-id-label">
                                    </clr-input-container>

                                    <div class="content">
                                        <p *ngIf="originalName == null">
                                            Please enter the details outlining your need to reserve computational resources in VISA.
                                        </p>
                                        <p *ngIf="originalName != null">
                                            Please describe why you would like to modify your reservation for computational resources in VISA.
                                        </p>
                                    </div>
                                    <textarea id="comments" rows="3" name="comments" class="booking-new-comments-input"
                                              style="width: 100%"
                                              formControlName="comments">
                                </textarea>
                                </div>
                                <div class="clr-col-1">
                                </div>

                                <div class="clr-col-4">
                                    <div class="title">
                                        <h2>
                                            Booking Summary
                                        </h2>
                                    </div>
                                    <div class="content">
                                        <div class="booking-new-summary">
                                            <div class="booking-new-summary-item">
                                                <p>
                                                    Reservation from {{ startDate | date}} to {{endDate | date}} ({{reservationDurationDays}} days)
                                                </p>
                                            </div>
                                            <div class="booking-new-summary-item">
                                                <p>
                                                    Requested resources:
                                                </p>

                                                <div *ngFor="let flavourRequest of flavourRequestsFormArray.controls">
                                                    <p style="margin-left: 8px;">{{flavourRequest.value.quantity}} x "{{flavourRequest.value.flavour.name}}" instance{{flavourRequest.value.quantity > 1 ? 's' : ''}}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="clr-col-12 booking-new-submit">
                                    <div *ngIf="form.valid">
                                        <div  class="information-panel booking-new-submit-info">
                                            <div *ngIf="!requestIsAutoAccepted()" class="information-panel-body">
                                                Your request is ready to submit! The resources will be analysed by the VISA team to ensure that there is sufficient available for ordinary VISA use.
                                            </div>

                                            <div *ngIf="requestIsAutoAccepted()" class="information-panel-body">
                                                Your request is ready to submit! You are entitled to submit this without any further validation: please ensure that sufficient resources will be available for ordinary VISA use.
                                            </div>
                                        </div>
                                        <div *ngIf="requestIsAutoAccepted()" class="booking-new-request-validation-check">
                                            <clr-checkbox-wrapper>
                                                <input type="checkbox" clrCheckbox name="requestValidation" formControlName="requestValidation" required="false"/>
                                                <label>Please check this box if you would like the VISA team to examine your reservation request to ensure that there are no problems with it. If it is not checked the reservation will be automatically accepted.</label>
                                            </clr-checkbox-wrapper>
                                        </div>
                                    </div>

                                    <button class="btn btn-primary btn-block" [disabled]="form.invalid" (click)="createOrUpdateBookingRequest()">Send booking request</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
