<visa-admin-header></visa-admin-header>
<visa-cloud-admin-header></visa-cloud-admin-header>

<div class="admin-container">
    <div class="admin-container--main">
        <clr-datagrid id="datagrid" [clrDgLoading]="loading">
            <clr-dg-column>Flavour ID</clr-dg-column>
            <clr-dg-column>Name</clr-dg-column>
            <clr-dg-column>Cloud Flavour</clr-dg-column>
            <clr-dg-column>Memory / GB</clr-dg-column>
            <clr-dg-column>CPUs</clr-dg-column>
            <clr-dg-column>Credits</clr-dg-column>
            <clr-dg-column></clr-dg-column>

            <clr-dg-row *ngFor="let flavour of flavours;let i = index">
                <clr-dg-cell>{{flavour.id}}</clr-dg-cell>
                <clr-dg-cell>{{flavour.name}}</clr-dg-cell>
                <clr-dg-cell>{{cloudFlavourName(flavour)}}</clr-dg-cell>

                <clr-dg-cell>{{flavour.memory / 1024}}</clr-dg-cell>
                <clr-dg-cell>{{flavour.cpu}}</clr-dg-cell>
                <clr-dg-cell>{{flavour.credits}}</clr-dg-cell>
                <clr-dg-cell>
                    <button (click)="onUpdate(flavour)" class="btn btn-sm">Edit</button>
                    <button (click)="onDelete(flavour.id)" class="btn btn-warning-outline btn-sm">Delete</button>
                </clr-dg-cell>
            </clr-dg-row>

            <clr-dg-footer>
                <button class="btn btn-sm" type="button" (click)="onCreate()">New</button>
                <button class="btn btn-sm" type="button" (click)="onRefresh()"><clr-icon shape="refresh"></clr-icon></button>
            </clr-dg-footer>
        </clr-datagrid>
    </div>
</div>
