<div class="admin-header">
    <div class="admin-header-container">
        <div class="admin-header-title">Administration</div>
    </div>
    <div class="admin-header-container">
        <div class="admin-tabs">
            <div class="admin-tabs-body">
                <a href="" class="admin-tab" routerLink="/admin/dashboard" routerLinkActive="admin-tab--selected">
                    <clr-icon shape="dashboard" class="is-solid"></clr-icon>
                    Dashboard
                </a>
                <a href="" class="admin-tab" routerLink="/admin/compute/instances" [ngClass]="{'admin-tab--selected': routeStartsWith('/admin/compute')}">
                    <clr-icon shape="cpu" class="is-solid"></clr-icon>
                    Compute
                </a>
                <a href="" class="admin-tab" routerLink="/admin/cloud/images" [ngClass]="{'admin-tab--selected': routeStartsWith('/admin/cloud')}">
                    <clr-icon shape="cloud" class="is-solid"></clr-icon>
                    Cloud
                </a>
                <a href="" class="admin-tab" routerLink="/admin/users" routerLinkActive="admin-tab--selected">
                    <clr-icon shape="users" class="is-solid"></clr-icon>
                    Users
                </a>
                <a href="" class="admin-tab" routerLink="/admin/settings/notifications" [ngClass]="{'admin-tab--selected': routeStartsWith('/admin/settings')}">
                    <clr-icon shape="cog" class="is-solid"></clr-icon>
                    Settings
                </a>
            </div>
            <div class="admin-tabs-actions">
                <div class="admin-tabs-action" *ngIf="isRouteActive('/admin/dashboard')">
                    <button class="admin-tabs-btn" (click)="handleRefresh()">
                        <clr-icon shape="sync"></clr-icon> Refresh dashboard
                    </button>
                </div>
                <div class="admin-tabs-action" *ngIf="isRouteActive('/admin/dashboard')">
                    <clr-toggle-wrapper>
                        <input type="checkbox" clrToggle [(ngModel)]="autoRefresh" name="autoRefresh"/>
                        <label>Auto refresh (every 30 seconds)</label>
                    </clr-toggle-wrapper>
                </div>
                <div class="admin-tabs-action" *ngIf="isRouteActive('/admin/compute/instances')">
                    <button class="admin-tabs-btn" (click)="handleRefresh()">
                        <clr-icon shape="sync"></clr-icon> Refresh instances
                    </button>
                </div>
                <div class="admin-tabs-action" *ngIf="isRouteActive('/admin/compute/sessions')">
                    <button class="admin-tabs-btn" (click)="handleRefresh()">
                        <clr-icon shape="sync"></clr-icon> Refresh sessions
                    </button>
                </div>
                <div class="admin-tabs-action" *ngIf="isRouteActive('/admin/compute/sessions')">
                    <clr-toggle-wrapper>
                        <input type="checkbox" clrToggle [(ngModel)]="autoRefresh" name="autoRefresh"/>
                        <label>Auto refresh (every 30 seconds)</label>
                    </clr-toggle-wrapper>
                </div>
            </div>
        </div>
    </div>
</div>
