<div class="admin-header compute-admin-header">
    <div class="admin-header-container">
        <div class="admin-tabs">
            <div class="admin-tabs-body">
                <a class="admin-tab" routerLink="/admin/compute/instances" routerLinkActive="admin-tab--selected">
                    <clr-icon shape="display" class="is-solid"></clr-icon>
                    Instances
                    <visa-notification-badge [badgeTags]="['instance.errors']" [showCount]="true"></visa-notification-badge>
                </a>
                <a class="admin-tab" routerLink="/admin/compute/sessions" routerLinkActive="admin-tab--selected">
                    <clr-icon shape="wrench" class="is-solid"></clr-icon>
                    Sessions
                </a>
                <a class="admin-tab" routerLink="/admin/compute/extension_requests" routerLinkActive="admin-tab--selected">
                    <clr-icon shape="clock" class="is-solid"></clr-icon>
                    Extension Requests
                    <visa-notification-badge [badgeTags]="['instance.extension.requests']" [showCount]="true"></visa-notification-badge>
                </a>
            </div>
        </div>
    </div>
</div>
