.flavour-content {
    p {
        margin: 0
    }
}

.flavour-title {
    h3 {
        font-size: 0.8rem;
        margin: 12px 0 6px 0;
    }
}

.flavours {
    width: 100%;
    display: inline-block;

    ul {
        width: 100%;
    }

    li {
        display: block;
        height: auto;
        float: left;
        padding: 0.5rem 1rem 0.5rem 0;
        list-style: none;
    }

    .flavour-box {
        $primary-color: #0747a6;
        $disabled-color: #dfdfdf;
        $unavailable-color: #f3f3f3;
        display: inline-block;
        text-align: center;
        color: #666;
        border: 1px solid $disabled-color;
        box-sizing: border-box;
        width: 200px;
        cursor: pointer;

        .flavour-details {
            text-align: center;
            border-top: 1px solid $disabled-color;
            display: block;
            cursor: inherit;
            font-size: 13px;
            outline: 0;
            padding: 10px;
        }

        .flavour-button {
            cursor: inherit;
            color: inherit;
            height: 110px;
            &__detail {
                font-size: 16px;
                font-weight: 600;
                display: block;
                margin: 8px 0 10px;
                cursor: inherit;
            }
            &__credits {
                font-size: 12px;
                font-weight: 500;
                display: block;
                margin: 8px 0 10px;
            }
            background: #fff;
            width: 100%;
            outline: 0;
            border: none;
        }


        &--selected {
            border: 1px solid $primary-color;
            color: #0747a6;
            background: #f5f9ff;

            .flavour-details {
                border-top: 1px solid $primary-color;
                color: #0747a6;
                background: #f5f9ff;
            }
        }

        &--unavailable {
            cursor: default;
            color: #d0d0d0;
            border: 1px solid $unavailable-color;

            .flavour-details {
                border-top: 1px solid $unavailable-color;
                color: #d0d0d0;
            }

        }

    }

}

