<div class="title">
    <h2>
        Display Settings
    </h2>
</div>

<div class="resolution-text">
    Choose the resolution of your display
</div>

<div class="section-element">
    <ng-select [(ngModel)]="selectedSingleScreenResolution" [searchable]="false" [clearable]="false" class="screen-resolution-select">
        <ng-option *ngFor="let screenResolution of screenResolutions" [value]="screenResolution" >
            {{ screenResolution.label }}
        </ng-option>
    </ng-select>
</div>

<div class="section-title">
    <h3>Choose layout</h3>
</div>
<div class="displays">
    <ul>
        <li *ngFor="let arrangement of arrangements"  (click)="handleSelectedArrangement(arrangement)">
            <div class="display-box" [ngClass]="{'display-box--selected': selectedArrangement === arrangement}">
                <button class="display-button">
                    <div class="display-button__icon">
                        <clr-icon size="48" *ngFor="let screen of [].constructor(arrangement.screens)" shape="display"></clr-icon>
                    </div>
                    <span class="display-button__name">{{ arrangement.name }}</span>
                </button>
                <div class="display-details">{{ arrangement.details }}</div>
            </div>
        </li>
    </ul>
</div>

<clr-toggle-container clrInline>
    <clr-toggle-wrapper>
        <input type="checkbox" clrToggle name="experimentFree" [(ngModel)]="showAdvancedSettings"/>
        <label>Advanced display settings</label>
    </clr-toggle-wrapper>
</clr-toggle-container>

<div *ngIf="showAdvancedSettings">
    <div *ngIf="vdiProtocolChoiceAvailable">
        <div class="section-title">
            <h3>Accessing the remote desktop</h3>
        </div>

        <div class="section-text">
            Please select the communication protocol to access the remote desktop.
        </div>

        <ng-select [(ngModel)]="vdiProtocol" [searchable]="false" [clearable]="false" class="vdi-protocol-select">
            <ng-option *ngFor="let protocol of availableVdiProtocols" [value]="protocol">
                <div class="protocol-details">
                    <div class="protocol-name">{{ getProtocolName(protocol) }}</div> <div class="protocol-description">{{getProtocolDescription(protocol) }}</div>
                </div>
            </ng-option>
        </ng-select>
    </div>

</div>
