<div *ngIf="customFlavours && customFlavours.length > 0">
    <div class="flavour-title">
        <h3>Choose hardware requirements</h3>
    </div>
    <div class="flavours">
        <div *ngFor="let flavourConfig of customFlavours" (click)="flavourConfig.flavour.available ? setSelectedFlavourConfig(flavourConfig) : ''" class="flavour-box" [ngClass]="{'flavour-box--selected': flavourConfig === selectedCustomFlavour.getValue(), 'flavour-box--disabled': !flavourConfig.flavour.available}">
            <button class="flavour-button">
                <div class="flavour-button__detail">
                    {{getCpuView(flavourConfig.flavour)}}
                </div>
                <div class="flavour-button__detail">
                    {{getRamView(flavourConfig.flavour)}} memory
                </div>
                <div *ngFor="let device of flavourConfig.flavour.devices" class="flavour-button__detail">
                    <div class="flavour-button__device-name">
                        {{device.devicePool.name}}
                    </div>
                    <div *ngIf="device.devicePool.description" class="flavour-button__device-description">
                        {{device.devicePool.description}}
                    </div>
                </div>
            </button>
            <div class="flavour-duration">
                <div class="title">
                    Instance duration
                </div>

                <div class="value">
                    {{flavourConfig.lifetimeValue}} {{flavourConfig.lifetimeValue == 1 ? flavourConfig.lifetimeUnit : flavourConfig.lifetimeUnit + 's'}}
                </div>

                <div class="flavour-duration-slider">
                    <clr-range-container>
                        <input type="range" clrRange min="1" [max]="flavourConfig.lifetimeMaxValue" [(ngModel)]="flavourConfig.lifetimeValue" [disabled]="flavourConfig !== selectedCustomFlavour.getValue()"/>
                    </clr-range-container>
                </div>
            </div>
            <div class="flavour-details">
                <div>
                    {{flavourConfig.flavour.name}}
                </div>
                <div *ngIf="!flavourConfig.flavour.available" class="unavailable">
                    <clr-tooltip>
                        <span clrTooltipTrigger>
                            Available on {{ flavourConfig.flavour.availableAt |date }}
                        </span>
                        <clr-tooltip-content clrPosition="top-right" clrSize="md" *clrIfOpen>
                            <span>{{ flavourConfig.flavour.availableAt | date:'d MMM y, h:mm a' }}</span>
                        </clr-tooltip-content>
                    </clr-tooltip>
                </div>
            </div>
        </div>
    </div>
</div>
