.section-title {
    h3 {
        font-size: 0.8rem;
        margin: 12px 0 4px 0;
    }
}

h2 {
    margin-top: 24px;
    font-size: 1rem;
    font-weight: 500;
}

.section-text {
    margin: 6px 0;
}

.section-element {
    margin: 0 0 16px 0;
}

.displays {
    width: 100%;
    display: inline-block;

    ul {
        width: 100%;
    }

    li {
        display: block;
        height: auto;
        float: left;
        padding: 0.5rem 1rem 0 0;
        list-style: none;

        &:first-child {
            padding-left: 0;
        }
    }

    .display-box {
        $primary-color: #0747a6;
        $disabled-color: #dfdfdf;
        display: inline-block;
        text-align: center;
        color: #666;

        &--selected {
            border: 1px solid $primary-color;
            color: #0747a6;
            background: #f5f9ff;
        }

        border: 1px solid $disabled-color;
        box-sizing: border-box;
        width: 260px;

        .display-details {
            text-align: center;
            border-top: 1px solid $disabled-color;
            background: #fff;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            cursor: pointer;
            font-size: 13px;
            outline: 0;
            height: 3rem;
            padding: 0 10px;

        }
        &--selected {
            border: 1px solid $primary-color;
            color: #0747a6;
            background: #f5f9ff;

            .display-details {
                border-top: 1px solid $primary-color;
                color: #0747a6;
                background: #f5f9ff;
            }
        }
        .display-button {
            cursor: pointer;
            color: inherit;

            &--selected {
                background-color: lighten($primary-color, 62%);
            }

            background: #fff;
            width: 100%;
            outline: 0;
            border: none;

            &__icon {
                width: 100%;
                padding-top: 5px;
                display: flex;
                justify-content: center;
                align-items: center;
            clr-icon {
                    color: black;
                    margin-right: 10px;
                }
            }

            &__name {
                font-size: 16px;
                font-weight: 600;
                display: block;
                margin: 8px 0 10px;
                cursor: pointer;
            }
        }
    }

}

.screen-resolution-select {
    width: 260px;
    margin: 10px 0;
}

.protocol-details {
    display: flex;
    align-items: center;
    justify-content: flex-start;


    .protocol-name {
        font-weight: 500;
        width: 90px;
    }
    .protocol-description {
        font-weight: 300;
    }
}

.resolution-text {
    margin: 6px 0 6px 0;
}
