.flavour-title {
    h3 {
        font-size: 0.8rem;
        margin: 0 0 0 0;
    }
}

.flavours {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 1rem;

    ul {
        width: 100%;
    }

    li {
        display: block;
        height: auto;
        float: left;
        padding: 0.5rem 1rem 0.5rem 0;
        list-style: none;
    }

    .flavour-box {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;

        $primary-color: #0747a6;
        $disabled-color: #dfdfdf;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
        color: #666;
        border: 1px solid $disabled-color;
        box-sizing: border-box;
        width: 260px;
        cursor: pointer;

        * {
            cursor: inherit;
        }

        .flavour-details {
            text-align: center;
            border-top: 1px solid $disabled-color;
            font-size: 13px;
            outline: 0;
            height: 3rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        .flavour-duration {
            text-align: center;
            border-top: 1px dashed $disabled-color;
            outline: 0;
            height: 3rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            row-gap: 4px;

            .title {
                font-size: 9px;
                line-height: 11px;
                font-weight: 400;
                height: 11px;
                text-transform: uppercase;
            }

            .value {
                font-size: 16px;
                line-height: 16px;
                height: 16px;
                font-weight: 600;
            }
        }

        .flavour-duration-slider {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            .clr-form-control {
                margin-top: -8px;

                input {
                    width: 180px;
                }
            }
        }

        .flavour-button {
            color: inherit;
            &__detail {
                font-size: 16px;
                font-weight: 600;
                display: block;
                margin: 4px 0;
                height: 26px;
                line-height: 26px;
            }

            &__device-name {
            }

            &__device-description {
                font-size: 8pt;
                line-height: 10px;
                font-weight: 400;
                height: 10px;
            }

            background: #fff;
            width: 100%;
            outline: 0;
            border: none;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            flex-grow: 1;
            padding: 20px 0;
        }


        &--selected {
            border: 1px solid $primary-color;
            color: #0747a6;

            .flavour-details {
                border-top: 1px solid $primary-color;
                color: #0747a6;
                background: #f5f9ff;
            }

            .flavour-duration {
                border-top: 1px dashed #b1c2da;
                color: #0747a6;
            }

        }

        &--disabled {
            border: 1px solid #d0d0d0;
            color: #d0d0d0;
            cursor: default;

            .flavour-details {
                border-top: 1px solid #d0d0d0;
                color: #d0d0d0;

                .unavailable {

                    .unavailable-text {
                        color: #94add3;
                        line-height: 12pt;
                    }
                    .unavailable-text-main {
                        font-weight: 500;
                    }
                    .unavailable-text-sub {
                        font-size: 8pt;
                    }
                }
            }

            .flavour-duration {
                border-top: 1px dashed #d0d0d0;
                color: #d0d0d0;
            }
        }

    }

}
