<h1 mat-dialog-title>Edit user</h1>
<div mat-dialog-content>
    <form clrForm [formGroup]="form">
        <clr-input-container>
            <label>Instance quota</label>
            <input clrInput type="number" formControlName="instanceQuota"/>
            <clr-control-error>The instance quota is required</clr-control-error>
        </clr-input-container>
        <clr-toggle-container>
            <label>Admin?</label>
            <clr-toggle-wrapper>
                <input type="checkbox" clrToggle formControlName="admin" required/>
            </clr-toggle-wrapper>
        </clr-toggle-container>
    </form>
</div>
<div mat-dialog-actions style="display: flex;flex-direction: row; justify-content: flex-end;">
    <button mat-button (click)="onCancel()">Cancel</button>
    <button mat-button (click)="submit()">Update user</button>
</div>
