.instance-card-dropdown {
    position: relative;
    display: inline-block;
}

.instance-card-dropdown-menu {
    transform: translate3d(calc(-50% + 0.5px), 0, 0);
    margin-bottom: 20px;

    &:before {
        content: "";
        position: absolute;
        left: 50%;
        margin-left: -8px;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-bottom: 8px solid #fff;
        top: -6px;
        z-index: 2;
    }

    &:after {
        content: "";
        position: absolute;
        left: 50%;
        margin-left: -9px;
        border-left: 9px solid transparent;
        border-right: 9px solid transparent;
        border-bottom: 9px solid #dfdfdf;
        top: -9px;
    }

    &--show {
        display: block;
    }

    z-index: 101;
    position: absolute;
    left: 50%;
    top: calc(50% + 22px);
}


.instance-card-dropdown-list {
    min-width: 170px;
    border-radius: 3px;
    background-color: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid #dfdfdf;
    text-align: left;
    margin: 0;
    padding: 0;
    list-style: none;
}

.instance-card-dropdown-list-item {
    margin-right: 0;
    padding: 0;

    &:first-child {
        border-radius: 3px 3px 0 0;
        overflow: hidden;
    }

    &--divider {
        height: 1px;
        padding: 0;
        background-color: #dfdfdf;
        display: block;
    }
}

.instance-card-dropdown-list-item-link {
    display: flex;
    align-items: center;
    flex-direction: row;
    border-radius: 0;
    padding: 0.7em 1.2em;
    color: #24292e;
    text-decoration: none;
    cursor: pointer;

    &--danger {
        color: #ed4f32 !important;

        &:hover {
            color: #c62a0f !important;
        }
    }

    &:hover {
        color: #0052cc;
        text-decoration: none;
        position: relative;
    }
}

.instance-card-dropdown-list-item-disabled {
    display: flex;
    align-items: center;
    flex-direction: row;
    border-radius: 0;
    padding: 0.7em 1.2em;
    color: #ccc;
    text-decoration: none;
    cursor: default;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.instance-card-button {
    font-weight: normal;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-radius: 0.25em;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    color: #24292e;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 16px;
    border: 1px solid #d3d3d3;
    background: #f9f9f9;
    height: 31px;

    &:focus,
    &:active {
        outline: 0;
    }

    &:hover {
        background-color: #e6ebf1;
        background-image: linear-gradient(180deg, #f0f3f6, #e6ebf1 90%);
        border-color: #a5a9ac;
        border-color: rgba(27, 31, 35, 0.35);
        outline: 0;
    }

    &:disabled {
        color: #ccc;

        &:hover {
            cursor: default;
        }
    }

    clr-icon {
        margin-right: 6px;
    }
}

.instance-card-details {
    display: flex;
    width: 100%;
    padding-top: 10px;
}

.instance-thumbnail {
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
    margin-right: 15px;
    width: 150px;
}

.instance-thumbnail-img  {
    background-color: #fff;
    border-radius: 0;
    max-height: 110px;
    max-width: 100%;
    height: auto;
    width: 100%;
    display: flex;
    object-fit: contain;
}

.instance-card-container {
    margin-top: 24px;
    display: flex;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 3px;
    padding: 5px 5px 10px 5px;
    flex-direction: column;

    &:hover {
        border: 1px solid #eee;
        background: #fefefe;
    }
}

.instance-card-container-header {
    display: flex;
    justify-content: space-between;
}

.instance-card-container-header-title {
    font-size: 0.8rem;
    font-weight: 400;
}

.instance-delete {
    align-items: center;
    justify-content: flex-end;
    display: flex;
    width: 100px;
}

.instance-access {
    align-items: baseline;
    justify-content: center;

    .instance-access-btn {
        white-space: nowrap;
        vertical-align: middle;
        cursor: pointer;
        user-select: none;
        border: 1px solid #b74a01;
        border-radius: 0.25em;
        appearance: none;
        color: #ffffff;
        background-color: #fd6a08;
        padding: 5px 15px;
        font-size: 12px;
        line-height: 16px;
        height: 31px;

        &:focus {
            outline: 0;
        }

        &:disabled {
            background: #e8e8e8;
            border-color: #e8e8e8;

            &:hover {
                background: #e8e8e8;
                cursor: default;
            }
        }

        &:hover {
            color: #ffffff;
            background-color: #ea5f02;
        }
    }

    .instance-access-btn-left {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-right: 0px;
    }

    .instance-access-btn-right {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        padding-left: 6px;
        padding-right: 6px;
    }
}

.instance-actions {
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
    margin-left: 10px;
    margin-right: 10px;
    min-width: auto;

    .btn {
        margin: 0 0.5rem 6px 0;
    }

}

.instance-card-experiments {
    &__label {
        font-size: 0.45rem;
        font-weight: 400;
        letter-spacing: 0.03em;
        //line-height: 0.458333rem;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        padding: 0 0.5rem 1px;
        height: 0.875rem;
        margin: 0 0.25rem 0 0;
        white-space: nowrap;
        color: #111;
        background: #eff0f191;
        border: none;
    }

    &__title {
        font-weight: 500;
        padding-right: 5px;
    }

}

.instance-card-expiration-24 {
    border: 1px solid #fd6a08;
}

.instance-card-expiration-1 {
    border: 1px solid #CB2431;
}

.instance-card-expiration {
    background: white;
    margin: 0px 0px 7px;
    border-radius: 3px;
    color: black;
    line-height: .7rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6px;

    &__text {
        font-weight: 500;
        padding-right: 5px;
        display: flex;
    }

    &__info {
    }
}

.instance-card-expiration-details {
    display: flex;
    align-items: center;
}

.instance-card-expiration-1-warning {
    color: #CB2431;
    margin-right: 4px;
}

.instance-card-expiration-24-warning {
    color: #fd6a08;
    margin-right: 4px;
}

.instance-state {
    display: flex;
    align-items: center;
    //justify-content: flex-start;
    margin-left: 10px;
    //margin-right: 10px;
    min-width: auto;
    //flex: 1;
    color: #24292e;
    font-size: 12px;

    &--icon {
        width: 15px;
        margin-right: 16px;
    }

    &--danger {
        color: #ed4f32;
    }

    &--active {
        color: #2f8400;
    }
}

.instance-state-indicator {
    width: 16px;
    height: 16px;
    border: 1px solid darken(#dfdfdf, 20);
    margin-left: 4px;
    border-radius: 100%;
    background: #dfdfdf;
    text-indent: -9999px;
    display: inline-block;
    vertical-align: middle;
    transform: scale(.999) translateZ(0);
    -webkit-backface-visibility: hidden;
    transition: background .3s ease;

    &--danger {
        background: #f95a27;
        border-color: darken(#f95a27, 20);
    }

    &--success {
        background: #5fba7d;
        border-color: darken(#5fba7d, 20);
    }
}


.instance-card {
    height: auto;
    padding-left: 0;
    margin-bottom: 0;
    display: flex;
    font-weight: normal;
    flex-direction: column;
    flex: 2;
    justify-content: center;

    .instance-image {
        display: flex;
        align-items: center;
        padding: 0 10px 0 0;
    }

    .instance-meta {
        font-size: 0.9rem;
        display: block;
        width: 85%;
        color: rgba(0, 0, 0, 0.6);
        padding-top: 5px;
    }

    .instance-block {
        display: flex;
        flex-direction: row;
        position: relative;
    }

    .instance-body {
        flex: 1;
    }

    .instance-text {
        margin-top: 4px;
        color: #000;
        font-size: 0.6rem;
        line-height: 1.3;
        font-weight: 400;

        &--larger {
            font-size: 0.7rem;
            font-weight: 500;
        }

        &--smaller {
            font-size: 0.55rem;
            color: #666;
        }
    }

    .instance-title {
        display: flex;
        color: #0052cc;
        align-items: center;
        text-decoration: none;
        font-weight: 600;
        font-size: 0.8rem;
        transition: 250ms color ease;
        margin: 0 0 5px;
    }

    .dot {
        &:after {
            content: "\00B7";
            margin-left: 3px;
            margin-right: 3px;
        }
    }
}



