<div class="instance-card-container" >

    <div class="instance-card-container-header">
        <div class="instance-card-container-header-title">
            {{ instance.name }}
        </div>

        <div class="instance-state" *ngIf="['ERROR', 'UNKNOWN', 'STOPPED', 'DELETED'].includes(instance.state)">
            <span class="instance-state--icon">
                <span class="instance-state-indicator instance-state-indicator--danger"></span>
            </span>
            <span>
                {{instance.state | lowercase}}
            </span>
        </div>
        <div class="instance-state" *ngIf="['UNAVAILABLE'].includes(instance.state)">
            <span class="instance-state--icon">
                <span class="instance-state-indicator instance-state-indicator"></span>
            </span>
            <span>
                {{instance.state | lowercase}}
            </span>
        </div>
        <div class="instance-state" *ngIf="['PARTIALLY_ACTIVE'].includes(instance.state)">
            <img src="/assets/images/spinner.svg" class="instance-state--icon"/>
            <span>
                active
            </span>
        </div>
        <div class="instance-state" *ngIf="['ACTIVE'].includes(instance.state)">
            <span class="instance-state--icon">
                <span class="instance-state-indicator instance-state-indicator--success"></span>
            </span>
            <span>
                active
            </span>
        </div>
        <div class="instance-state" *ngIf="['STARTING', 'REBOOTING', 'BUILDING', 'STOPPING', 'DELETING'].includes(instance.state)">
            <img src="/assets/images/spinner.svg" class="instance-state--icon"/>
            <span>
                {{instance.state | lowercase}}
            </span>
        </div>
    </div>


    <div class="instance-card-details">
        <div class="instance-thumbnail" *ngIf="instance.membership.isRole('OWNER')">
            <visa-image class="instance-thumbnail-img"
                        [url]="getThumbnailUrl()"
                        [refreshable]="true"
                        [refreshInterval]="30000">
            </visa-image>
        </div>


        <div class="instance-card">

            <div *ngIf="willExpireWarning() || willExpireCritical()">
                <div [ngClass]="{'instance-card-expiration-1': willExpireCritical(), 'instance-card-expiration-24': willExpireWarning()}" class="instance-card-expiration">
                    <div class="instance-card-expiration-details">
                        <clr-icon [ngClass]="{'instance-card-expiration-1-warning': willExpireCritical(), 'instance-card-expiration-24-warning': willExpireWarning()}" class="is-solid" shape="danger"  size="24"></clr-icon>
                        <div [ngClass]="{'instance-card-expiration-1-warning': willExpireCritical(), 'instance-card-expiration-24-warning': willExpireWarning()}" class="instance-card-expiration__text">
                            WARNING!
                        </div>
                        <span *ngIf="willExpireFromInactivity()" class="instance-card-expiration__info">
                        This instance is scheduled to be deleted <b>{{expirationCountdown}}</b>. Connect to the instance to extend its lifetime.
                    </span>
                        <span *ngIf="!willExpireFromInactivity()" class="instance-card-expiration__info">
                        This instance will be deleted <b>{{expirationCountdown}}</b> due to reaching the end of its lifetime
                    </span>
                    </div>
                    <button *ngIf="!willExpireFromInactivity() && isOwner()" class="instance-card-button" (click)="requestExtension($event)" [disabled]="!requestExtensionEnabled">
                        <clr-icon shape="pencil" class="is-solid"> </clr-icon> Request extension
                    </button>
                </div>
            </div>

            <div class="instance-block">

                <div class="instance-body">
                    <div class="instance-text instance-text--larger">{{instance.plan.image.name}} ({{ instance.plan.image.version }})</div>
                    <div class="instance-text">{{getRamView()}}<span class="dot"> </span> {{getCpuView()}}</div>
                    <div class="instance-text">Instance <b>{{instance.id}}</b> created on
                        <b>{{instance.createdAt | date}}</b> and due to expire on
                        <b>{{instance.expirationDate.toString() | date}}</b>
                    </div>
                    <div *ngIf="instance.experiments.length > 0" class="instance-card-experiments">
                        <span class="instance-card-experiments__label" *ngFor="let experiment of instance.experiments">
                            {{ experiment.proposal.identifier }} ({{ experiment.instrument.name }},
                            {{ experiment.startDate | date:'MMM yyyy' }})
                        </span>
                    </div>

                    <div *ngIf="instance.experiments.length == 0" class="instance-text">
                        <span class="instance-text instance-card-experiments__title">No experiments are associated to this instance.</span>
                    </div>
                </div>

                <div class="instance-actions">
                    <div class="instance-card-dropdown" #dropdown>
                        <button [disabled]="['DELETING', 'DELETED'].includes(instance.state)"
                                class="instance-card-button" (click)="toggleSettings()">
                            <clr-icon shape="cog" class="is-solid"></clr-icon>Settings
                        </button>
                        <div class="instance-card-dropdown-menu" *ngIf="isSettingsOpen">
                            <ul class="instance-card-dropdown-list">
                                <li class="instance-card-dropdown-list-item">
                                    <a class="instance-card-dropdown-list-item-link"
                                       (click)="onDetailsClicked($event)">Details</a>
                                </li>
                                <li class="instance-card-dropdown-list-item">
                                    <a class="instance-card-dropdown-list-item-link"
                                       (click)="onExperimentsClicked($event)">Experiments</a>
                                </li>
                                <li class="instance-card-dropdown-list-item">
                                    <a class="instance-card-dropdown-list-item-link"
                                       (click)="onMembersClicked($event)">Members</a>
                                </li>
                                <li class="instance-card-dropdown-list-item instance-card-dropdown-list-item--divider"></li>
                                <li class="instance-card-dropdown-list-item">
                                    <a *ngIf="canStartInstance()" class="instance-card-dropdown-list-item-link"
                                       (click)="onStartClicked($event)" href="">
                                        Start instance
                                    </a>
                                    <div *ngIf="!canStartInstance()" class="instance-card-dropdown-list-item-disabled">Start
                                        Instance
                                    </div>
                                </li>
                                <li class="instance-card-dropdown-list-item">
                                    <a *ngIf="canRebootInstance()" class="instance-card-dropdown-list-item-link"
                                       (click)="onRebootClicked($event)">
                                        Reboot instance
                                    </a>
                                    <div *ngIf="!canRebootInstance()" class="instance-card-dropdown-list-item-disabled">Reboot
                                        Instance
                                    </div>
                                </li>
                                <li class="instance-card-dropdown-list-item">
                                    <a *ngIf="canShutdownInstance()" class="instance-card-dropdown-list-item-link"
                                       (click)="onShutdownClicked($event)">
                                        Shutdown instance
                                    </a>
                                    <div *ngIf="!canShutdownInstance()" class="instance-card-dropdown-list-item-disabled">
                                        Shutdown
                                        Instance
                                    </div>
                                </li>
                                <li class="instance-card-dropdown-list-item instance-card-dropdown-list-item--divider"></li>
                                <li class="instance-card-dropdown-list-item">
                                    <a *ngIf="instance.membership.isRole('OWNER')"
                                       class="instance-card-dropdown-list-item-link instance-card-dropdown-list-item-link--danger"
                                       (click)="onDeleteClicked($event)" href="">Delete instance</a>
                                    <div *ngIf="!instance.membership.isRole('OWNER')"
                                         class="instance-card-dropdown-list-item-disabled">Delete Instance
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div *ngIf="!multiEnvAvailable()" class="instance-access">
                    <button class="instance-access-btn" [routerLink]="['/instances', instance.uid]"
                            [disabled]="!canConnect"><clr-icon shape="display" class="is-solid"></clr-icon> Connect
                    </button>
                </div>

                <div *ngIf="multiEnvAvailable()" class="instance-access">
                    <button class="instance-access-btn instance-access-btn-left" [routerLink]="['/instances', instance.uid]"
                            [disabled]="!canConnect"><clr-icon shape="display" class="is-solid" style="margin-right: 4px"></clr-icon> Connect
                    </button>
                    <visa-dropdown-menu toggleClass="instance-access-btn instance-access-btn-right">
                        <visa-dropdown-menu-button>&#9662;</visa-dropdown-menu-button>
                        <visa-dropdown-menu-item [routerLink]="['/instances', instance.uid]">
                            <clr-icon shape="display" class="is-solid" style="margin-right: 8px"></clr-icon>Remote Desktop
                        </visa-dropdown-menu-item>
                        <visa-dropdown-menu-item *ngIf="canAccessWebXDesktop()" [routerLink]="['/instances', instance.uid, 'beta']">
                            <div style="margin-right: 8px">
                                <img width="16px" src="/assets/images/X11.png">
                            </div>
                            Remote Desktop (beta)
                        </visa-dropdown-menu-item>
                        <visa-dropdown-menu-item *ngIf="canAccessJupyter()" [routerLink]="['/instances', instance.uid, 'jupyter']">
                            <div style="margin-right: 8px">
                                <img width="16px" src="/assets/images/jupyter_logo.svg">
                            </div>
                            JupyterLab
                        </visa-dropdown-menu-item>
                    </visa-dropdown-menu>
                </div>

            </div>
        </div>

    </div>
</div>
