<visa-admin-header></visa-admin-header>
<visa-cloud-admin-header></visa-cloud-admin-header>

<div class="admin-container">
    <div class="admin-container--main">

        <clr-datagrid id="datagrid" [clrDgLoading]="loading">
            <clr-dg-column>Plan ID</clr-dg-column>
            <clr-dg-column>
                <ng-template clrDgHideableColumn [clrDgHidden]="!multiCloudEnabled">
                    Cloud Provider
                </ng-template>
            </clr-dg-column>
            <clr-dg-column>Image</clr-dg-column>
            <clr-dg-column>Version</clr-dg-column>
            <clr-dg-column>Flavour</clr-dg-column>
            <clr-dg-column>Visible</clr-dg-column>
            <clr-dg-column>Preset</clr-dg-column>
            <clr-dg-column>Update</clr-dg-column>

            <clr-dg-row *ngFor="let plan of plans;let i = index">
                <clr-dg-cell>{{plan.id}}</clr-dg-cell>
                <clr-dg-cell *ngIf="plan.image.cloudClient">{{plan.image.cloudClient.name}}</clr-dg-cell>
                <clr-dg-cell *ngIf="!plan.image.cloudClient"><b>Not configured</b></clr-dg-cell>
                <clr-dg-cell>{{plan.image.name}}</clr-dg-cell>
                <clr-dg-cell>{{plan.image.version}}</clr-dg-cell>
                <clr-dg-cell>{{plan.flavour.name}}</clr-dg-cell>
                <clr-dg-cell><input [checked]="plan.image.visible" disabled type="checkbox"/></clr-dg-cell>
                <clr-dg-cell><input [checked]="plan.preset" disabled type="checkbox"/></clr-dg-cell>
                <clr-dg-cell>
                    <button (click)="onUpdate(plan)" class="btn btn-sm">Edit</button>
                    <button (click)="onCreate(plan)" class="btn btn-sm">Clone</button>
                    <button (click)="onDelete(plan)" class="btn btn-warning-outline btn-sm">Delete</button>
                </clr-dg-cell>
            </clr-dg-row>
            <clr-dg-footer>
                <clr-dg-column-toggle [hidden]="true">
                </clr-dg-column-toggle>
                <button class="btn btn-sm" type="button" (click)="onCreate()">New</button>
                <button class="btn btn-sm" type="button" (click)="onRefresh()">
                    <clr-icon shape="refresh"></clr-icon>
                </button>
            </clr-dg-footer>
        </clr-datagrid>
    </div>
</div>
