$hypervisor-selected-color: #7eb2d6;

.hypervisor-container {
    position: relative;
    cursor: pointer;
    margin: 0 8px;
}

.hypervisor {
    min-height: 300px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid #d5d5d5;
    color: #666;

    &__title {
        font-weight: 400;
        font-size: 12pt;
        line-height: 30px;
    }

    &__content {
        width: 640px;

        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: flex-start;
    }

    &__disabled {
        color: #c0c0c0;
    }

    &__down {
        cursor: default;
    }
}

.hypervisor__up_enabled {
    border-top-width: 2px;
    border-top-color: #00a65a;
}

.hypervisor__up_disabled {
    border-top-width: 2px;
    border-top-color: #81c389;
    border-bottom-color: #f4f4f4;
    border-left-color: #f4f4f4;
    border-right-color: #f4f4f4;
}

.hypervisor__down_enabled {
    border-top-width: 2px;
    border-top-color: #dd4b39;
}

.hypervisor__down_disabled {
    border-top-width: 2px;
    border-color: #e58989;
    border-bottom-color: #f4f4f4;
    border-left-color: #f4f4f4;
    border-right-color: #f4f4f4;
}

.hypervisor__selected {
    border-bottom: none;
    border-left-color: $hypervisor-selected-color;
    border-right-color: $hypervisor-selected-color;
}

.hypervisor-resources {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-size: 12px;

    &__title {
        font-size: 14px;
        font-weight: 500;
    }
}

.hypervisor-resource-chart-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.hypervisor-resource-chart-holder {
    width: 140px;
}

.hypervisor-resource-chart {
    display: block;
    height: 140px;

    .chart-title-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        font-size: 9pt;
        color: #606060;
        z-index: 0;

        &__disabled {
            color: #c0c0c0;
        }

        .chart-title-main {
            font-weight: 500;
            text-align: center;
        }
    }
}

.hypervisor-flavours {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-size: 12px;

    &__title {
        font-size: 14px;
        font-weight: 500;
    }
}

.hypervisor-flavours-chart-holder {
    width: 300px;
}

.hypervisor-flavours-chart {
    display: block;
    height: 220px;
}

.hypervisor-instances-connect {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 20px;
    width: 100%;

    .hypervisor-instances-connect-left {
        border: 1px solid $hypervisor-selected-color;
        border-top-right-radius: 20px;
        border-left: none;
        border-bottom: none;
        flex-grow: 1;
        height: 100%;
        z-index: 2;
    }

    .hypervisor-instances-connect-center {
        height: 100%;
        border-top: 1px solid white;
        background-color: #ffffff;
        width: 0;
        z-index: 2;
    }

    .hypervisor-instances-connect-right {
        border: 1px solid $hypervisor-selected-color;
        border-top-left-radius: 20px;
        border-right: none;
        border-bottom: none;
        flex-grow: 1;
        height: 100%;
        z-index: 2;
    }
}

.hypervisor-instances-spacer {
    display: none;
}

.hypervisor-instances {
    display: none;
    position: absolute;
    left: 0;
    z-index: 1;
    border-radius: 2px;
    background-color: #fff;
    cursor: default;

    border: 1px solid $hypervisor-selected-color;

    .hypervisor-instances-content {
        margin: 16px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: stretch;
        column-gap: 16px;
        row-gap: 16px;
    }

    .hypervisor-instances-unknown {
        color: #666;
    }
}
