<visa-admin-header></visa-admin-header>
<visa-cloud-admin-header></visa-cloud-admin-header>


<div class="hypervisors-spinner-outer" [hidden]="!loading">
    <div class="hypervisors-spinner">
        <clr-spinner></clr-spinner>
    </div>
</div>

<div class="flavours-overview">
    <div class="admin-container flavours-main">
        <div class="admin-container--main">

            <div class="hypervisors-header">
                <h3 class="filters-box-title">Hypervisors</h3>
            </div>

            <div class="hypervisors-content">
                <visa-admin-hypervisor *ngFor="let hypervisor of hypervisors"
                                       [hypervisor]="hypervisor"
                                       [devicePools]="devicePools"
                                       [flavours]="flavours">
                </visa-admin-hypervisor>
            </div>
        </div>
    </div>
</div>
