<visa-admin-header></visa-admin-header>
<visa-cloud-admin-header></visa-cloud-admin-header>


<div class="hypervisors-spinner-outer" [hidden]="!loading">
    <div class="hypervisors-spinner">
        <clr-spinner></clr-spinner>
    </div>
</div>

<div *ngIf="!loading" class="hypervisors-overview">
    <div class="admin-container hypervisors-main">
        <div class="admin-container--main">

            <clr-select-container *ngIf="multiCloudEnabled" style="margin-bottom: 16px; margin-top: 8px;">
                <select clrSelect id="cloud" [(ngModel)]="selectedCloudClient">
                    <option *ngFor="let cloudClient of cloudClients" [ngValue]="cloudClient">{{cloudClient? cloudClient.name + ' cloud provider' : ''}}</option>
                </select>
                <clr-control-helper>Please select the cloud provider</clr-control-helper>
            </clr-select-container>

            <div class="hypervisors-header">
                <h3 class="filters-box-title">Hypervisors</h3>
            </div>

            <div class="hypervisors-content">
                <visa-admin-hypervisor *ngFor="let hypervisor of hypervisors; index as index"
                                       [hypervisor]="hypervisor"
                                       [index]="index"
                                       [devicePools]="devicePools"
                                       [flavours]="flavours"
                                       [selectedHypervisor$]="selectedHypervisor$">
                </visa-admin-hypervisor>
            </div>
        </div>
    </div>
</div>
