<h1 mat-dialog-title>Create security group filter</h1>
<div mat-dialog-content>
    <div class="alert alert-info" role="alert">

        <div class="alert-items">
            <div class="alert-item static">
                <div class="alert-icon-wrapper">
                    <clr-icon class="alert-icon" shape="info-circle"></clr-icon>
                </div>
                <span class="alert-text">
                    If the logged in users role matches this filter then the given security group will be applied to the instance upon creation.
                </span>
            </div>
        </div>


    </div>
    <form clrForm [formGroup]="form" clrLayout="horizontal">
        <clr-select-container>
            <label for="securityGroup">Security Group</label>
            <select clrSelect id="securityGroup"
                    formControlName="securityGroup" required>
                <option *ngFor="let securityGroup of securityGroups"
                        [value]="securityGroup">{{securityGroup.name}}</option>
            </select>
            <clr-control-helper>Please select a security group</clr-control-helper>
        </clr-select-container>
        <clr-select-container>
            <label for="role">User role</label>
            <select clrSelect id="role" formControlName="role" required>
                <option *ngFor="let role of roles"
                [value]="role">{{role.name}}</option>
            </select>
            <clr-control-helper>Please select a user role</clr-control-helper>
        </clr-select-container>
    </form>
</div>
<div mat-dialog-actions style="display: flex;flex-direction: row; justify-content: flex-end;">
    <button mat-button (click)="onCancel()">Cancel</button>
    <button mat-button (click)="submit()" [disabled]="form.invalid">
        Create
    </button>
</div>
