<h1 mat-dialog-title>Create Plan</h1>
<div mat-dialog-content>
    <form #f="ngForm">
        <div class="form-group">
            <label for="image">Image</label>
            <ng-select appendTo="body" name="image" class="selector" id="image" [searchable]="false"
                       [items]="images"
                       bindLabel="name"
                       bindValue="id"
                       placeholder="Choose an image "
                       required
                       [(ngModel)]="selectedImageId">
                <ng-template ng-label-tmp let-item="item">
                    <span >{{ item.name + ' (' + item.version + ')' }}</span>
                </ng-template>
                <ng-template ng-option-tmp let-item="item" let-search="searchTerm" let-index="index">
                    <span >{{ item.name + ' (' + item.version + ')' }}</span>
                </ng-template>
            </ng-select>
        </div>
        <div class="form-group">
            <label for="flavour">Flavour</label>
            <ng-select appendTo="body" name="flavour" class="selector" id="flavour" [searchable]="false"
                       [items]="flavours"
                       bindLabel="name"
                       bindValue="id"
                       placeholder="Choose a flavour"
                       required
                       [(ngModel)]="selectedFlavourId">
            </ng-select>
        </div>
        <clr-input-container>
            <label for="preset">Preset</label>
            <input clrInput id="preset" name="preset" type="checkbox" clrToggle [(ngModel)]="preset"/>
        </clr-input-container>
    </form>
</div>
<div mat-dialog-actions style="display: flex;flex-direction: row; justify-content: flex-end;">
    <button mat-button (click)="onCancel()">Cancel</button>
    <button mat-button (click)="onCreate()" [disabled]="f.invalid">Create
    </button>
</div>
