.printer-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
}

.printer-status {
    position: absolute;
    right: 21px;
    bottom: 28px;
    background-color: rgba(255,255,255,0.8);
    color: #444;
    padding: 3px 8px;
    border-radius: 4px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

    strong {
        text-decoration: none;
        color: #444;
    }
}

.printer-badge {
    margin-left: -4px;
    margin-top: -8px;
    min-width: 0.4rem;
    height: 0.4rem;

    &__enabled {
        background-color: green;
    }

    &__receiving {
        background-color: #02dc02;
        animation: blinker 0.2s linear infinite;
    }

    &__disabled {
        background-color: #888888;
    }

    &__connecting {
        background-color: #ffcf46;
    }

    &__error {
        background-color: #e23232;
    }
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

.printer-text {

}
