<div (click)="toggleStatusVisible()">
    <div class="printer-container">
        <clr-icon shape="printer"></clr-icon>
        <span class="badge printer-badge" [ngClass]="{
            'printer-badge__connecting': state === 'CONNECTING',
            'printer-badge__enabled': state === 'ENABLED',
            'printer-badge__disabled': state === 'DISABLED' || state === 'UNAVAILABLE',
            'printer-badge__receiving': state === 'RECEIVING_DATA',
            'printer-badge__error': state === 'ERROR',
            }"></span>
    </div>
    <div *ngIf="statusVisible" class="printer-status">
        Printer status: <strong>{{state.replace('_', ' ') | titlecase}}</strong>
        <div *ngFor="let transferState of transferStates">
            Job {{transferState.jobId}}: {{transferState.progress | number:'1.0-0'}}%
        </div>
    </div>
</div>

