<visa-admin-header></visa-admin-header>
<visa-cloud-admin-header></visa-cloud-admin-header>


<div class="admin-container">
    <div class="admin-container--main">
        <clr-datagrid [clrDgLoading]="loading">
            <clr-dg-column>Id</clr-dg-column>
            <clr-dg-column>Name</clr-dg-column>
            <clr-dg-column>Version</clr-dg-column>
            <clr-dg-column>Description</clr-dg-column>
            <clr-dg-column>
                <ng-template clrDgHideableColumn [clrDgHidden]="!multiCloudEnabled">
                    Cloud Provider
                </ng-template>
            </clr-dg-column>
            <clr-dg-column>Cloud Image</clr-dg-column>
            <clr-dg-column>Icon</clr-dg-column>
            <clr-dg-column>Protocols</clr-dg-column>
            <clr-dg-column>Default VDI Protocol</clr-dg-column>
            <clr-dg-column>Visible</clr-dg-column>
            <clr-dg-column>Actions</clr-dg-column>

            <clr-dg-row *ngFor="let image of images">
                <clr-dg-cell>{{image.id}}</clr-dg-cell>
                <clr-dg-cell>{{image.name}}</clr-dg-cell>
                <clr-dg-cell>{{image.version}}</clr-dg-cell>
                <clr-dg-cell>{{image.description}}</clr-dg-cell>
                <clr-dg-cell *ngIf="image.cloudClient">{{image.cloudClient.name}}</clr-dg-cell>
                <clr-dg-cell *ngIf="!image.cloudClient"><b>Not configured</b></clr-dg-cell>
                <clr-dg-cell>{{image.cloudImage?.name}}</clr-dg-cell>
                <clr-dg-cell>{{image.icon}}</clr-dg-cell>
                <clr-dg-cell>
                    <span class="label" *ngFor="let protocol of image.protocols">
                        {{protocol.name}}
                    </span>
                </clr-dg-cell>
                <clr-dg-cell>{{image.defaultVdiProtocol?.name}}</clr-dg-cell>

                <clr-dg-cell><input [checked]="image.visible" disabled type="checkbox"/></clr-dg-cell>
                <clr-dg-cell>
                    <button (click)="onUpdate(image)" class="btn btn-sm">Edit</button>
                    <button (click)="onCreate(image)" class="btn btn-sm">Clone</button>
                    <button (click)="onDelete(image)" class="btn btn-warning-outline btn-sm">Delete</button>
                </clr-dg-cell>
            </clr-dg-row>
            <clr-dg-footer>
                <clr-dg-column-toggle [hidden]="true">
                </clr-dg-column-toggle>
                <button class="btn btn-sm" type="button" (click)="onCreate()">New</button>
                <button class="btn btn-sm" type="button" (click)="onRefresh()"><clr-icon shape="refresh"></clr-icon></button>
            </clr-dg-footer>
        </clr-datagrid>
    </div>
</div>
