<h1 mat-dialog-title>Update Image</h1>
<div mat-dialog-content>
    <form clrForm #f="ngForm">
        <clr-input-container>
            <label for="name">Name</label>
            <input clrInput id="name" name="name" type="text" class="form-control" [(ngModel)]="image.name"
                   #name="ngModel"
                   required>
            <div *ngIf="name.invalid && (name.dirty || name.touched)"
                 class="alert alert-danger">
                <div *ngIf="name.errors.required">
                    Name is required.
                </div>
            </div>
        </clr-input-container>
        <clr-input-container>
            <label for="version">Version</label>
            <input clrInput id="version" name="version" type="text" class="form-control"
                   [(ngModel)]="image.version">
        </clr-input-container>
        <clr-input-container>
            <label for="description">Description</label>
            <input clrInput id="description" name="description" type="text" class="form-control"
                   [(ngModel)]="image.description">
        </clr-input-container>
        <clr-select-container>
            <label for="icon">Icon</label>
            <select clrSelect name="icon" class="selector" id="icon" [(ngModel)]="image.icon" required>
                <option *ngFor="let imageIcon of imageIcons"
                        [value]="imageIcon">{{imageIcon}}</option>
            </select>
        </clr-select-container>
        <clr-select-container>
            <label for="cloudImages">Cloud Image</label>
            <select clrSelect name="cloudImages" class="selector" id="cloudImages" [(ngModel)]="image.computeId" required>
                <option *ngFor="let cloudImage of cloudImages"
                        [value]="cloudImage.id">{{cloudImage.name}}</option>
            </select>
        </clr-select-container>
        <clr-select-container>
            <label for="autologin">Autologin</label>
            <select clrSelect name="autologin" class="selector" id="autologin" [(ngModel)]="image.autologin">
                <option value=""></option>
                <option value="VISA_PAM">VISA PAM</option>
            </select>
        </clr-select-container>
        <clr-combobox-container>
            <label>Protocols</label>
            <clr-combobox [(ngModel)]="selectedProtocols" name="multiSelect" clrMulti="true">
                <ng-container *clrOptionSelected="let selected">
                    {{selected?.name}}
                </ng-container>
                <clr-options>
                    <clr-option *clrOptionItems="let protocol of protocols; " [clrValue]="protocol">
                        {{protocol.name}}
                    </clr-option>
                </clr-options>
            </clr-combobox>
        </clr-combobox-container>

        <clr-input-container>
            <label for="visible">Visible</label>
            <input clrInput id="visible" name="visible" type="checkbox" clrToggle [(ngModel)]="image.visible"/>
        </clr-input-container>

        <clr-textarea-container>
            <label for="bootCommand">Boot command</label>
            <textarea clrTextarea name="bootCommand" rows="10" cols="80" [(ngModel)]="image.bootCommand"
                      id="bootCommand"></textarea>
        </clr-textarea-container>
    </form>
</div>
<div mat-dialog-actions style="display: flex;flex-direction: row; justify-content: flex-end;">
    <button mat-button (click)="onNoClick()">Cancel</button>
    <button mat-button (click)="submit()" [disabled]="f.invalid">Update
    </button>
</div>
