.booking-request-flavour-details {
    margin-left: 12px;
    font-size: 11pt;
    color: #666;
}

.booking-request-section-title {
    font-size: 1.3em;
    color: #444;
    margin-bottom: 12px;
}

.booking-request-availabilities {

    .booking-request-availabilities-charts {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;
        row-gap: 16px;
    }
}

.booking-request-response-input {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-top: 12px;

    .booking-request-response-input-label {
        width: 220px;
        color: #24292e;
    }

    .booking-request-response-input-value {
        flex-grow: 1;
        color: #24292e;
    }
}
