<clr-modal clrModalSize="lg"
           [(clrModalOpen)]="showEditModal"
           [clrModalStaticBackdrop]="false">
    <h3 class="modal-title">{{ title }}</h3>

    <div class="modal-body">
        <form clrForm #f="ngForm">
            <clr-input-container>
                <label for="name">Name</label>
                <input clrInput id="name" name="name" type="text" class="form-control edit-application-credential-name" [(ngModel)]="applicationCredentialInput.name"
                       #applicationCredentialName="ngModel"
                       required>
                <div *ngIf="applicationCredentialName.invalid && (applicationCredentialName.dirty || applicationCredentialName.touched)"
                     class="alert alert-danger">
                    <div *ngIf="applicationCredentialName.errors.required">
                        Name is required.
                    </div>
                </div>
            </clr-input-container>
        </form>
    </div>
    <div class="modal-footer">
        <button (click)="onCancel()" class="btn btn-outline">Cancel</button>
        <button (click)="submit()" [disabled]="f.invalid" class="btn btn-primary">Save</button>
    </div>

</clr-modal>
