.full-access-warning {
    //border: 1px solid #888;
    padding: 0 20px 6px 10px;
    margin: 12px 0;
    background-color: #f0ad4e;
    display: flex;
    align-items: center;
    color: white;

    p {
        font-size: 0.7rem;
        margin-top: 0.3rem;
        color: white;
    }
}

.full-access-warning-label {
    color: #f5550d;
    font-size: 0.7rem;
}

.warning-label {
    color: #ff9900;
    font-size: 0.7rem;
}

.details-section {
    margin-top: 12px;
}

.flex-row-center-align {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 8px;
}

.protocol-details {
    display: flex;
    align-items: center;
    justify-content: flex-start;


    .protocol-name {
        font-weight: 500;
        width: 90px;
    }
    .protocol-description {
        font-weight: 300;
    }
}

.change-vdi-protocol-warning {
    margin: 8px 0;
}
