<h1 mat-dialog-title style="margin-bottom: 0px;">Instance Details</h1>
<div mat-dialog-content style="display: flex;flex-direction: column;">
    <form name="instance" [formGroup]="form"  clrForm clrLayout="horizontal">
        <div class="clr-row details-section">
            <div class="clr-col-12">
                <h5 style="margin-top: 0">Name</h5>
                <p style="margin-top: 5px; margin-bottom: 5px">
                    Give your compute instance an identifying name you will remember it by.
                </p>
            </div>
        </div>

        <div class="clr-row details-section">
            <div class="clr-col-12">

                <input formControlName="name" type="text" class="clr-input" name="name" style="width: 100%"
                       placeholder="Enter a instance name..." autofocus>
                <div *ngIf="name.invalid && (name.dirty || name.touched)" class="text-danger">
                    <div *ngIf="name.errors?.['required']">
                        Name is required.
                    </div>
                    <div *ngIf="name.errors?.['maxlength']">
                        Name cannot exceed 100 characters.
                    </div>
                    <div *ngIf="name.errors?.['minlength']">
                        Name must be a minimum of 10 characters.
                    </div>
                </div>
            </div>
        </div>

        <div class="clr-row details-section">
            <div class="clr-col-12">
                <h5 style="margin-top: 0.5rem">Notes</h5>
                <p style="margin-top: 5px">
                    You can add here some comments and notes about this compute resource.
                </p>
            </div>
            <div class="clr-col-12">
                <textarea id="comments" rows="3" name="comments"  class="clr-textarea" style="width: 100%" formControlName="comments"></textarea>
                <div *ngIf="comments.invalid && (comments.dirty || comments.touched)" class="text-danger">
                    <div *ngIf="comments.errors?.['maxlength']">
                        Comments cannot exceed 2500 characters.
                    </div>
                </div>
            </div>
        </div>

        <div class="clr-row details-section">
            <div class="clr-col-12">
                <h5 style="margin-top: 0">Member access</h5>
                <div class="full-access-warning">
                    <p>Enable unrestricted access to your instance to members you're sharing it with, even when you aren't connected.</p>
                </div>
                <clr-toggle-wrapper>
                    <input type="checkbox" clrToggle formControlName="unrestrictedAccess" name="unrestrictedAccess"/>
                    <label class="full-access-warning-label">Allow unrestricted access to other members</label>
                </clr-toggle-wrapper>
            </div>
        </div>

        <div class="clr-row details-section">
            <div class="clr-col-12">
                <h5 style="margin-top: 0.5rem">Accessing the remote desktop</h5>
                <p style="margin-top: 5px">
                    Select the communication protocol to access the remote desktop.
                </p>
                <div class="flex-row-center-align warning-label">
                    <clr-icon shape="warning-standard"></clr-icon>
                    <div class="change-vdi-protocol-warning">
                        Changing the remote desktop protocol will reboot your instance!
                    </div>
                </div>
            </div>
            <div class="clr-col-12">

<!--                <clr-select-container>-->
<!--                    <select clrSelect id="vdiProtocol" formControlName="vdiProtocol">-->
<!--                        <option *ngFor="let protocol of availableVdiProtocols" [ngValue]="protocol">-->
<!--                            <div class="protocol-details">-->
<!--                                <div class="protocol-name">{{ protocol.name }}</div> <div class="protocol-description">{{getProtocolDescription(protocol) }}</div>-->
<!--                            </div>-->
<!--                        </option>-->
<!--                    </select>-->
<!--                    <clr-control-helper>Please select a VDI protocol (the image protocols must include GUACD and/or WEBX</clr-control-helper>-->
<!--                </clr-select-container>-->

<!--                <ng-select [(ngModel)]="vdiProtocol" [searchable]="false" [clearable]="false" class="vdi-protocol-select">-->
                <ng-select formControlName="vdiProtocol" bindLabel="name" [searchable]="false" [clearable]="false" class="vdi-protocol-select">
                    <ng-option *ngFor="let protocol of availableVdiProtocols" [value]="protocol">
                        <div class="protocol-details">
                            <div class="protocol-name">{{ getProtocolName(protocol) }}</div> <div class="protocol-description">{{getProtocolDescription(protocol) }}</div>
                        </div>
                    </ng-option>
                </ng-select>
            </div>
        </div>
    </form>
    <div class="modal-footer">
        <button (click)="cancel()" class="btn btn-outline">Cancel</button>
        <button *ngIf="!willReboot" (click)="submit()" [disabled]="!canSubmit()" class="btn btn-primary">Save</button>
        <button *ngIf="willReboot" (click)="submit()" [disabled]="!canSubmit()" class="btn btn-warning">Save and Reboot</button>
    </div>
</div>
