<h1 mat-dialog-title style="margin-bottom: 0px;">Lifetime extension request</h1>
<div>
    <p>By submitting this form you will request the extension of the lifetime of your instance '{{instance.name}}'.</p>
    <p>This request will be handled as quickly as possible by the VISA support team. The team are available at {{configuration.contactEmail}} if you wish to contact them regarding this request or need any other support.</p>
</div>
<div mat-dialog-content style="display: flex;flex-direction: column;">
    <form name="request-extension" [formGroup]="form" clrForm clrLayout="horizontal">
        <div class="clr-row">
            <div class="clr-col-12">
                <p>Please provide details of why you would like the lifetime of your instance to be extended:</p>
            </div>
            <div class="clr-col-12">
                <textarea id="comments" rows="8" name="comments"  class="clr-textarea" style="width: 100%" formControlName="comments"></textarea>
                <div ngxErrors="comments" class="text-danger">
                    <div ngxError="maxlength">
                        Comments cannot exceed 4000 characters.
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="modal-footer">
        <button (click)="handleClose()" class="btn btn-outline">Cancel</button>
        <button (click)="submit()" [disabled]="!canSubmit()" class="btn btn-primary">Submit</button>
    </div>
</div>
