.title-toolbar {
    display: flex;
    align-items: center;
    .actions {
        flex: 1;
        display: flex;
        justify-content: flex-end;
        label {
            margin: 0 10px 0 10px;
        }
        .btn-group {
            margin-right: 0;
        }
    }
}

.modal-footer {
    &--space-between {
        cursor: pointer;
        justify-content: space-between;
    }
}
