<div class="modal-header">
    <div mat-dialog-title  class="title">Information</div>
</div>
<div mat-dialog-content>
    <clr-tabs>
        <clr-tab>
            <button clrTabLink>Keyboard shortcuts</button>
            <clr-tab-content id="keyboard-shortcuts">
                <visa-instance-keyboard-shortcuts (close)="handleClose($event)"></visa-instance-keyboard-shortcuts>
            </clr-tab-content>
        </clr-tab>
        <clr-tab>
            <button clrTabLink>Stats</button>
            <clr-tab-content>
                <visa-instance-stats [totalDataReceived]="totalDataReceived$ | async"
                                     [dataReceivedRate]="dataReceivedRate$ | async"
                                     [timeElapsed]="timeElapsed$ | async"
                                     (close)="handleClose($event)"></visa-instance-stats>
            </clr-tab-content>
        </clr-tab>
    </clr-tabs>
</div>
