<div class="filters-box">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="filters-box-header">
            <h3 class="filters-box-title">
                Filter Users
            </h3>
            <button class="filters-box-clear" type="button" (click)="onReset()">Clear filters</button>
        </div>
        <div class="filters-box-body">
            <div class="filter-box">
                <div class="filter-title">
                    Activated Users
                </div>
                <div class="filter-body">
                    <clr-checkbox-wrapper class="filter-checkbox">
                        <label for="activateUsers">Include only activated users</label>
                        <input formControlName="activated" clrCheckbox type="checkbox" id="activateUsers" name="activateUsers">
                    </clr-checkbox-wrapper>
                </div>
            </div>
            <div class="filter-box">
                <div class="filter-title">
                    User
                </div>
                <div class="filter-body">
                    <visa-admin-user-search [form]="form" [activatedUsersOnly]="activatedUsersOnly"></visa-admin-user-search>
                </div>
            </div>
            <div class="filter-box">
                <div class="filter-title">
                    Role / Group
                </div>
                <div class="filter-body" *ngIf="roles">
                    <select formControlName="role" class="filter-input">
                        <option [ngValue]="null"></option>
                        <option *ngFor="let role of roles" [ngValue]="role.name">
                            {{ role.name }}
                        </option>
                    </select>
                </div>
            </div>
        </div>
        <div class="filters-box-footer">
            <button class="filters-box-search">
                Apply filters
            </button>
        </div>
    </form>
</div>
