<h1 mat-dialog-title>Print dialog failed to open</h1>
<div mat-dialog-content>
    <div class="print-dialog-error-text">
        The document may have been saved automatically to Downloads.
    </div>

    <div class="print-dialog-error-text">
        Please check your browser settings and ensure that PDF documents are opened in the browser rather than saved to enable printing inside VISA.
    </div>

    <div class="modal-footer">
        <button type="button" class="btn" (click)="onClose()">Close</button>
    </div>
</div>
