<h1 mat-dialog-title>Instance extension request</h1>
<div mat-dialog-content>


    <h4>Instance details</h4>

    <div class="admin-box-body p-t-10 p-b-10">
        <dl class="admin-details-list">
            <div class="admin-details-list-item">
                <dt>
                    <b>Name / ID / UID</b>
                </dt>
                <dd>
                    {{ instance?.name }} / {{ instance?.id }} / {{ instance?.uid }}
                </dd>
            </div>
            <div class="admin-details-list-item">
                <dt>
                    <b>State</b>
                </dt>
                <dd>
                    {{ instance.state | titlecase }}
                </dd>
            </div>
            <div class="admin-details-list-item">
                <dt>
                    <b>Owner</b>
                </dt>
                <dd>
                    {{ instance.owner.fullName }} ({{ instance.owner.id}}, <a
                    href="mailto:{{ instance.owner.email }}">{{ instance.owner.email }}</a>)
                </dd>
            </div>
            <div class="admin-details-list-item">
                <dt>
                    <b>Employer</b>
                </dt>
                <dd>
                    {{ instance.owner?.affiliation?.name }}
                </dd>
            </div>
            <div class="admin-details-list-item">
                <dt>
                    <b>Creation date</b>
                </dt>
                <dd>
                    {{ instance.createdAt | date:'dd-MM-yyyy HH:mm' }}
                </dd>
            </div>
            <div class="admin-details-list-item">
                <dt>
                    <b>Last session activity</b>
                </dt>
                <dd>
                    {{ instance.lastSeenAt | timeDuration: 'date'}}
                </dd>
            </div>
            <div class="admin-details-list-item">
                <dt>
                    <b>Termination date</b>
                </dt>
                <dd>
                    {{ instance.terminationDate | date:'dd-MM-yyyy HH:mm' }}
                </dd>
            </div>
            <div class="admin-details-list-item">
                <dt>
                    <b>Flavour</b>
                </dt>
                <dd>{{ instance.plan.flavour.name }}</dd>
            </div>
            <div class="admin-details-list-item">
                <dt>
                    <b>Image</b>
                </dt>
                <dd>{{  formatImageName(instance.plan.image) }}</dd>
            </div>
        </dl>
    </div>

    <h4>Extension request</h4>
    <div class="admin-box-body p-t-10 p-b-10">
        <dl class="admin-details-list">
            <div class="admin-details-list-item">
                <dt>
                    <b>Request date</b>
                </dt>
                <dd>
                    {{ extensionRequest.createdAt | date:'dd-MM-yyyy HH:mm' }}
                </dd>
            </div>
            <div class="admin-details-list-item">
                <dt>
                    <b>User comments</b>
                </dt>
                <dd>
                    {{ extensionRequest.comments }}
                </dd>
            </div>
        </dl>
    </div>

    <h4>Extension response</h4>
    <div class="admin-box-body p-t-10 p-b-10">
        <dl class="admin-details-list">
            <div class="admin-details-list-item">
                <dt>
                    <b>This request is</b>
                </dt>
                <dd>
                    <button [ngClass]="{'btn-success': isAcceptedValue(true), 'btn-success-outline': !isAcceptedValue(true)}" class="btn" (click)="setAcceptedValue(true)">Accepted</button>
                    <button [ngClass]="{'btn-warning': isAcceptedValue(false), 'btn-warning-outline': !isAcceptedValue(false)}" class="btn" (click)="setAcceptedValue(false)">Refused</button>
                </dd>
            </div>
            <div class="admin-details-list-item" *ngIf="isAcceptedValue(true)">
                <dt>
                    <b>Extension date</b>
                </dt>
                <dd>
                    <clr-date-container style="margin-top: 2px">
                        <input type="date" [(clrDate)]="terminationDate" [min]="minDate">
                    </clr-date-container>
                </dd>
            </div>
        </dl>
    </div>
    <form class="extension-request-handler-comments" name="extension-response" [formGroup]="form" clrForm clrLayout="horizontal">
        <div class="clr-row" *ngIf="isAcceptedValue(false)">
            <div class="clr-col-12">
                <p>Please provide details of why you have refused this extension request:</p>
            </div>
            <div class="clr-col-12">
                <textarea id="refusedComments" rows="3" name="comments"  class="clr-textarea" style="width: 100%" formControlName="handlerCommentsRefused"></textarea>
                <div ngxErrors="handlerCommentsRefused" class="text-danger">
                    <div ngxError="maxlength">
                        Comments cannot exceed 4000 characters.
                    </div>
                </div>
            </div>
        </div>
        <div class="clr-row" *ngIf="isAcceptedValue(true)">
            <div class="clr-col-12">
                <p>If you would like to provide any comments then please do so below:</p>
            </div>
            <div class="clr-col-12">
                <textarea id="acceptedComments" rows="3" name="comments"  class="clr-textarea" style="width: 100%" formControlName="handlerCommentsAccepted"></textarea>
                <div ngxErrors="handlerCommentsAccepted" class="text-danger">
                    <div ngxError="maxlength">
                        Comments cannot exceed 4000 characters.
                    </div>
                </div>
            </div>
        </div>
    </form>

</div>
<div mat-dialog-actions style="display: flex;flex-direction: row; justify-content: flex-end;">
    <button mat-button (click)="onCancel()">Cancel</button>
    <button mat-button (click)="submit()" [disabled]="!isValid()">Submit</button>
</div>
