.selector{
    width: 100%;
}

.extension-request-handler-comments {
    padding: 0;
    p {
        margin-top: 8px;
        font-weight: 400;
    }
}

.extension-request-list-item  {
    padding: 0;
}
