<visa-modal [draggable]="true"
            [(modalOpen)]="showModal"
            [width]="'800px'">
    <div modalDragHandle>
        <h3 class="visa-modal-title">Clipboard</h3>
    </div>

    <div class="visa-modal-body">
        <p class="m-t-10 m-b-5">
            Text copied/cut within the remote desktop will appear here.
            Sending the text below will affect the remote desktop clipboard.
        </p>
        <ngx-codemirror
            #codeMirror
            style="width: 100%;"
            [(ngModel)]="text"
            name="text"
            [autoFocus]="true"
            [options]="{
                lineNumbers: true,
                theme: 'material',
                mode: 'text/plain'
            }">
        </ngx-codemirror>
    </div>
    <div class="visa-modal-footer">
        <button type="button" (click)="showModal=false" class="btn btn-outline">Cancel</button>
        <button type="button" (click)="sendClipboardText()"
                class="btn btn-primary"
                [disabled]="text.length === 0">
            Send to remote desktop clipboard
        </button>
    </div>
</visa-modal>
