<visa-admin-header></visa-admin-header>
<visa-cloud-admin-header></visa-cloud-admin-header>

<div class="admin-container">
    <div class="admin-container--main">
        <div class="clr-row">
            <div class="clr-col-4">
                <div class="filters-box">
                    <visa-admin-security-groups (onRefresh)="handleSecurityGroupRefresh($event)"></visa-admin-security-groups>
                </div>
            </div>
            <div class="clr-col-8">
                <div class="filters-box">
                    <visa-admin-security-group-filters [refresh]="refreshSecurityGroupLimits$" ></visa-admin-security-group-filters>
                </div>
            </div>
        </div>
    </div>
</div>
