.filters-box {
    width: 100%;
    background: #ffffff;
    margin-bottom: 20px;

    .filters-box-header {
        color: #444;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .filters-box-body {
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }

    .filters-box-title {
        display: inline-block;
        flex: 1 1;
        color: #111;
    }

    .filters-box-action-btn {
        color: #24292e;
        background-color: #eff3f6;
        background-image: linear-gradient(-180deg, #fafbfc 0%, #eff3f6 90%);
        position: relative;
        display: inline-block;
        white-space: nowrap;
        vertical-align: middle;
        margin-left: 12px;
        cursor: pointer;
        user-select: none;
        background-repeat: repeat-x;
        background-position: -1px -1px;
        background-size: 110% 110%;
        border: 1px solid rgba(27, 31, 35, 0.2);
        border-radius: 0.25em;
        appearance: none;
        padding: 3px 8px;
    }


}
