<h1 mat-dialog-title>{{ title }}</h1>
<ng-container *ngIf="form">
    <div mat-dialog-content>
        <form clrForm [formGroup]="form" clrLayout="horizontal">
            <clr-input-container>
                <label for="name">Name</label>
                <input clrInput id="name" formControlName="name" class="form-control"/>
                <clr-control-error>Please enter a name</clr-control-error>
            </clr-input-container>

            <clr-select-container *ngIf="multiCloudEnabled">
                <label for="cloud">Cloud Provider</label>
                <select clrSelect id="cloud" formControlName="cloudClient" [compareWith]="compareCloudClient" (change)="onCloudChange()">
                    <option *ngFor="let cloudClient of cloudClients" [ngValue]="cloudClient">{{cloudClient?.name}}</option>
                </select>
                <clr-control-helper>Please select the cloud provider</clr-control-helper>
            </clr-select-container>

            <clr-select-container>
                <label for="flavour">Cloud flavour</label>
                <select clrSelect id="flavour" formControlName="cloudFlavour" [compareWith]="compareCloudFlavour">
                    <option *ngFor="let cloudFlavour of cloudFlavours" [ngValue]="cloudFlavour">{{cloudFlavour?.name}}</option>
                </select>
                <clr-control-helper>Please select a cloud flavour</clr-control-helper>
            </clr-select-container>

            <clr-input-container>
                <label for="memory">Memory</label>
                <input clrInput readonly id="memory" class="form-control" [value]="memory + ' GB'">
            </clr-input-container>

            <clr-input-container>
                <label for="cpu">CPUs</label>
                <input clrInput readonly id="cpu" class="form-control" [value]="cpu">
            </clr-input-container>

            <clr-combobox-container>
                <label for="instruments">Instruments</label>
                <clr-combobox clrMulti="true" id="instruments" formControlName="instruments">
                    <ng-container *clrOptionSelected="let selected">
                        {{selected?.name}}
                    </ng-container>
                    <clr-options>
                        <clr-option *clrOptionItems="let instrument of instruments;" [clrValue]="instrument">
                            {{instrument.name}}
                        </clr-option>
                    </clr-options>
                </clr-combobox>
                <clr-control-helper>Use of this flavour will be restricted to instruments selected here (and roles below)</clr-control-helper>
            </clr-combobox-container>

            <clr-combobox-container>
                <label for="roles">Roles</label>
                <clr-combobox clrMulti="true" id="roles" formControlName="roles">
                    <ng-container *clrOptionSelected="let selected">
                        {{selected?.name}}
                    </ng-container>
                    <clr-options>
                        <clr-option *clrOptionItems="let role of roles;" [clrValue]="role">
                            {{role.name}}
                        </clr-option>
                    </clr-options>
                </clr-combobox>
                <clr-control-helper>Use of this flavour will be restricted to roles selected here (and the instruments above)</clr-control-helper>
            </clr-combobox-container>

        </form>
        <div class="modal-footer">
            <button (click)="onCancel()" class="btn btn-outline">Cancel</button>
            <button (click)="submit()" [disabled]="form.invalid" class="btn btn-success-outline">Save</button>
        </div>
    </div>
</ng-container>

