.section-title {
    font-size: 16px;
    font-weight: 300;
    color: black;
    margin-top: 36px;
    margin-bottom: 12px;
}

.button-spacer {
    margin-top: 12px;
}

.role-lifetimes-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.role-clr-container {
    margin-top:12px;
    margin-bottom:12px;
}

.role-clr-container input {
    width: 195px;
}

.role-clr-container-label {
    margin-right:16px;
}
