<table class="table">
    <tbody>
    <tr>
        <td class="left">
            Data received
        </td>
        <td class="left">{{ totalDataReceived | fileSize }}</td>
    </tr>
    <tr>
        <td class="left">
            Connection time
        </td>
        <td class="left">{{ timeElapsed | timeDuration:'milliseconds' }}</td>
    </tr>
    </tbody>
</table>
<div class="modal-footer modal-footer--space-between">
    <div></div>
    <button type="button" (click)="close.next(null)" class="btn btn-outline">Close</button>
</div>
