<div class="booking-request-card-container">

    <div class="booking-request-card-details">
        <div class="booking-request-card-name">
            {{ bookingRequest.name }}
        </div>
        <div class="booking-request-card-small-text">
            Created on {{bookingRequest.createdAt | date:'dd MMMM y HH:mm' }}
        </div>
        <div class="booking-request-card-dates">
            {{ bookingRequest.startDate | date:'dd MMM y' }} - {{ bookingRequest.endDate | date:'dd MMM y' }}
        </div>
        <div class="booking-request-card-small-text">
            Organiser:
        </div>
        <div class="booking-request-card-owner-name">
            {{ bookingRequest.owner.fullName }}
        </div>
        <div class="booking-request-card-owner-affiliation">
            {{ bookingRequest.owner.affiliation?.name || 'No affiliation'}}
        </div>
        <div class="booking-request-card-owner-email">
            {{ bookingRequest.owner.email }}
        </div>
        <div class="booking-request-card-small-text">
            Description:
        </div>
        <div class="booking-request-card-comments">
            <em>{{ bookingRequest.history[0].comments }}</em>
        </div>

    </div>

    <div class="booking-request-card-flavours">
        <div *ngFor="let flavourRequest of bookingRequest.flavours" class="flavour-box">
            <div class="flavour-description">
                <div class="flavour-description__detail">
                    {{getCpuView(flavourRequest.flavour)}}
                </div>
                <div class="flavour-description__detail">
                    {{getRamView(flavourRequest.flavour)}} memory
                </div>
                <div *ngFor="let device of flavourRequest.flavour.devices" class="flavour-description__detail">
                    <div class="flavour-description__device-name">
                        {{device.devicePool.name}}
                    </div>
                    <div *ngIf="device.devicePool.description" class="flavour-description__device-description">
                        {{device.devicePool.description}}
                    </div>
                </div>
            </div>
            <div class="flavour-name">
                <div>
                    {{flavourRequest.flavour.name}}
                </div>
            </div>
            <div class="flavour-quantity">
                <div class="flavour-quantity__label">
                    Quantity
                </div>
                <div>
                    {{flavourRequest.quantity}}
                </div>
            </div>
        </div>
    </div>

</div>
