<visa-admin-header></visa-admin-header>
<visa-booking-admin-header></visa-booking-admin-header>

<div class="booking-requests-spinner-outer" [hidden]="!loading">
    <div class="booking-requests-spinner">
        <clr-spinner></clr-spinner>
    </div>
</div>

<div *ngIf="!loading" class="admin-container">
    <div class="admin-container--main">
        <h3>Booking Requests</h3>

        <div class="booking-requests-section">
            <div class="booking-requests-section-title">
                Pending requests
            </div>
            <visa-admin-booking-request-list *ngIf="pendingBookingRequests.length > 0" [bookingRequests]="pendingBookingRequests"></visa-admin-booking-request-list>
            <div *ngIf="pendingBookingRequests.length == 0" class="booking-requests-section-empty">
                There are no pending booking requests
            </div>
        </div>

        <div class="booking-requests-section">
            <div class="booking-requests-section-title">
                Accepted requests
            </div>
            <visa-admin-booking-request-list *ngIf="acceptedBookingRequests.length > 0" [bookingRequests]="acceptedBookingRequests"></visa-admin-booking-request-list>
            <div *ngIf="acceptedBookingRequests.length == 0" class="booking-requests-section-empty">
                There are no accepted booking requests
            </div>
        </div>


    </div>
</div>
