<div class="admin-header cloud-admin-header">
    <div class="admin-header-container">
        <div class="admin-tabs">
            <div class="admin-tabs-body">
                <a href="" class="admin-tab" routerLink="/admin/cloud/images" routerLinkActive="admin-tab--selected">
                    <clr-icon shape="image" class="is-solid"></clr-icon>
                    Images
                </a>
                <a href="" class="admin-tab" routerLink="/admin/cloud/flavours" routerLinkActive="admin-tab--selected">
                    <clr-icon shape="organization" class="is-solid"></clr-icon>
                    Flavours
                </a>
                <a href="" class="admin-tab" routerLink="/admin/cloud/plans" routerLinkActive="admin-tab--selected">
                    <clr-icon shape="map" class="is-solid"></clr-icon>
                    Plans
                </a>
            </div>
        </div>
    </div>
</div>
