<visa-admin-header (refresh)="handleRefresh($event)"></visa-admin-header>
<div class="admin-container">
    <div class="admin-container--left">
        <visa-admin-instances-filter (onState)="onFilter($event)" [state]="currentState">
        </visa-admin-instances-filter>
    </div>
    <div class="admin-container--main">
        <div class="clr-row">
            <div class="clr-col-lg-12">
                <div class="admin-box admin-box-default">
                    <div class="admin-box-body">
                        <clr-datagrid (clrDgRefresh)="onGridChange($event)" [clrDgLoading]="loading">
                            <clr-dg-column [clrDgSortBy]="'id'" clrDgColType="number"
                                           [clrDgSortOrder]="isColumnSorted('id')">
                                <ng-container>
                                    ID
                                </ng-container>
                            </clr-dg-column>
                            <clr-dg-column [clrDgSortBy]="'name'" [clrDgSortOrder]="isColumnSorted('name')">
                                <ng-container>
                                    Name
                                </ng-container>
                            </clr-dg-column>
                            <clr-dg-column>
                                <ng-container>
                                    Owner
                                </ng-container>
                            </clr-dg-column>
                            <clr-dg-column>
                                <ng-container>
                                    Affiliation
                                </ng-container>
                            </clr-dg-column>
                            <clr-dg-column [clrDgSortBy]="'state'" [clrDgSortOrder]="isColumnSorted('state')">
                                <ng-container>
                                    State
                                </ng-container>
                            </clr-dg-column>
                            <clr-dg-column>
                                <ng-container>
                                    Session activity
                                </ng-container>
                            </clr-dg-column>
                            <clr-dg-column [clrDgSortBy]="'createdAt'" [clrDgSortOrder]="isColumnSorted('createdAt')">
                                <ng-container>
                                    Created
                                </ng-container>
                            </clr-dg-column>
                            <clr-dg-column>
                                <ng-template clrDgHideableColumn [clrDgHidden]="!currentState.columns.image">
                                    Image
                                </ng-template>
                            </clr-dg-column>
                            <clr-dg-column>
                                <ng-template clrDgHideableColumn [clrDgHidden]="!currentState.columns.flavour">
                                    Flavour
                                </ng-template>
                            </clr-dg-column>
                            <clr-dg-column [clrDgSortBy]="'terminationDate'">
                                <ng-template clrDgHideableColumn [clrDgHidden]="!currentState.columns.terminationDate">
                                    Termination Date
                                </ng-template>
                            </clr-dg-column>
                            <clr-dg-placeholder>We couldn't find any instances!</clr-dg-placeholder>
                            <clr-dg-row *ngFor="let instance of instances?.data" [style.cursor]="'pointer'"
                                        [routerLink]="['/admin/instances/', instance.id]">
                                <clr-dg-cell>{{ instance.id }}</clr-dg-cell>
                                <clr-dg-cell>{{ instance.name }}</clr-dg-cell>
                                <clr-dg-cell>{{ instance.owner.fullName }}</clr-dg-cell>
                                <clr-dg-cell>{{ instance.owner.affiliation ? instance.owner.affiliation.name : 'No affiliation' }}</clr-dg-cell>
                                <clr-dg-cell>{{ instance.state }}</clr-dg-cell>
                                <clr-dg-cell>
                                    <span *ngIf="instance.activeSessions.length == 0">
                                        {{ instance.lastSeenAt | timeDuration: 'date'  }}
                                    </span>
                                    <clr-tooltip *ngIf="instance.activeSessions.length > 0">
                                        <span clrTooltipTrigger>
                                            {{instance.activeSessions.length + ' active'}}
                                            <clr-icon size="20" *ngIf="isInteractiveSession(instance)" shape="mouse" class="instance-interaction"></clr-icon>
                                        </span>
                                        <clr-tooltip-content clrPosition="top-right" clrSize="lg" style="word-break: keep-all">
                                            User was active {{instance.lastInteractionAt | timeDuration: 'date'}}
                                        </clr-tooltip-content>
                                    </clr-tooltip>

                                </clr-dg-cell>
                                <clr-dg-cell>{{ instance.createdAt | date:'dd-MM-yyyy HH:mm' }}</clr-dg-cell>
                                <clr-dg-cell>{{ formatImageName(instance.plan.image) }}</clr-dg-cell>
                                <clr-dg-cell>{{ instance.plan.flavour.name }}</clr-dg-cell>
                                <clr-dg-cell>{{ instance.terminationDate | date:'dd-MM-yyyy HH:mm' }}</clr-dg-cell>
                            </clr-dg-row>
                            <clr-dg-footer>
                                <clr-dg-column-toggle [hidden]="true">
                                </clr-dg-column-toggle>
                                <button class="btn btn-sm" type="button" (click)="reload()">
                                    <clr-icon shape="refresh"></clr-icon>
                                </button>
                                <clr-dg-pagination #pagination [clrDgPageSize]="25" [clrDgPage]="currentState.page"
                                                   [clrDgLastPage]="instances?.pageInfo.totalPages">{{pagination.firstItem + 1}}
                                    - {{pagination.lastItem + 1 < instances?.pageInfo.count ? pagination.lastItem + 1 : instances?.pageInfo.count}}
                                    of {{ instances?.pageInfo.count }} instances
                                </clr-dg-pagination>
                            </clr-dg-footer>
                        </clr-datagrid>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
